{% load i18n %}
{% load static %}
<article class="blog-post">
	<div class="post-image">
		{% if post.cover_image %}
			<img src="{{ post.cover_image }}" alt="{{ post.title }}">
		{% else %}
			<img class="placeholder" src="{% static "images/news_placeholder.png" %}" alt="News placeholder">
		{% endif %}
	</div>
	<div class="post-content">
		<h3><a href="{% url 'blog:post-detail' blog_id post.id %}">{{ post.title }}</a></h3>
		{{ post.teaser | safe }}
	</div>
	<div class="post-meta">
		<p class="time">{{ post.created | date:'d.m.Y H:i' }}</p>
		<a href="{% url 'blog:post-detail' blog_id post.id %}">{% trans "Read more" %}</a>
	</div>
</article>
