<article class="news">
    <div class="article_left">
        <div class="news_image">
            <img src="/images/photo2.jpg" alt="" title=""/>
        </div>
        <div class="news_content">
            <div class="news_title">
            </div>
        </div>
    </div>
    <div class="article_right">
        <div class="news_meta">
            <p class="time">Kirjoitettu 27.1.2017</p>
            <button id="twitter_share"><i class="fa fa-twitter"></i> 15 JAKOA</button>

            <button id="facebook_share"><i class="fa fa-facebook-official"></i> JAA</button>
        </div>
    </div>
</article>