*.gz
*.pid
*.pyc
*.sql
*.sublime-workspace
*.zip
*~
.DS_Store
.idea/
.vagrant/
/static/
/templates/
assembly/settings/local.py
celerybeat-schedule
env-experimental/
env/
frontend/.sass-cache/
frontend/bower_components/
frontend/node_modules/
media/cms_page_media/*
media/filer_public/
media/filer_public_thumbnails/
media/streams
media/uploads/*
statics/
templates/assembly/
