env/
assembly/settings/local.py
*.pyc
.idea/
frontend/node_modules/
frontend/bower_components/
static/assembly/
templates/assembly/
frontend/.sass-cache/
statics/
static/
media/uploads/*
media/cms_page_media/*
*.pid
/templates/
*.sublime-workspace