[submodule "schedule"]
	path = schedule
	url = https://github.com/Assembly-WebCrew/schedule
[submodule "djangocms_siteselector"]
	path = djangocms_siteselector
	url = https://github.com/ptMuta/djangocms-siteselector
