aldryn-apphooks-config==0.2.7
aldryn-boilerplates==0.7.4
aldryn-categories==1.0.3
aldryn-common==1.0.4
aldryn-newsblog==1.2.4
aldryn-people==1.2.1
aldryn-reversion==1.0.9
aldryn-translation-tools==0.2.1
amqp==2.0.3
anyjson==0.3.3
Babel==2.3.4
backport-collections==0.1
billiard==3.3.0.23
celery==3.1.23
chardet==2.3.0
colorama==0.3.2
Django==1.9.9
django-appconf==1.0.2
django-appdata==0.1.5
django-celery==3.1.17
django-ckeditor==5.0.3
django-classy-tags==0.7.2
django-cms==3.3.1
-e git://github.com/smacker/django-filebrowser-no-grappelli.git@911318f0e735ab60485c5783759b3f6a058f2337#egg=django_filebrowser_no_grappelli
django-filer==1.2.4
django-formtools==1.0
django-modeltranslation==0.11
django-mptt==0.8.5
django-parler==1.6.5
django-phonenumber-field==1.1.0
django-polymorphic==0.8.1
django-reversion==1.10.2
django-sekizai==0.9.0
django-sortedm2m==1.3.2
django-taggit==0.20.2
django-treebeard==4.0.1
djangocms-admin-style==1.2.3
djangocms-file==1.0
djangocms-flash==0.3.0
djangocms-googlemap==0.5.1
djangocms-inherit==0.2.1
djangocms-picture==1.0.0
djangocms-teaser==0.2.0
djangocms-text-ckeditor==3.0.1
djangocms-video==1.0.0
djangorestframework==3.4.3
easy-thumbnails==2.3
html5lib==0.9999999
kombu==3.0.35
lxml==3.6.1
oauthlib==1.1.2
opbeat==3.3.4
phonenumbers==7.5.1
phonenumberslite==7.5.1
Pillow==3.3.0
psycopg2==2.6.2
python-dateutil==2.5.3
python-slugify==1.2.0
python3-memcached==1.51
pytz==2016.6.1
requests==2.10.0
requests-oauthlib==0.6.2
six==1.10.0
tweepy==3.5.0
Unidecode==0.4.19
urllib3==1.9.1
vine==1.1.1
webencodings==0.5
YURL==0.13
