# Core Modules
Django<1.10
django-cms
amqp
celery
django-celery
opbeat
psycopg2
python3-memcached
-e git://github.com/smacker/django-filebrowser-no-grappelli.git@911318f0e735ab60485c5783759b3f6a058f2337#egg=django_filebrowser_no_grappelli-3.5.7
# Vittu saatana
html5lib<0.99999999 # https://github.com/html5lib/html5lib-python/issues/277
# CMS Addons
djangocms-admin-style
djangocms-file
djangocms-flash
djangocms-googlemap
djangocms-inherit
#djangocms-link==1.7.1
djangocms-picture
djangocms-teaser
djangocms-text-ckeditor
djangocms-video
aldryn-newsblog
# Deprecated modules
djangorestframework
django-reversion<2.0
django-modeltranslation
tweepy
django-ckeditor
Unidecode