amqp==1.4.7
anyjson==0.3.3
billiard==3.3.0.21
celery==3.1.19
cmsplugin-filer==1.0.0
Django==1.8.6
django-appconf==1.0.1
django-celery==3.1.17
django-ckeditor==5.0.2
django-classy-tags==0.6.2
django-cms==3.1.3
-e git://github.com/smacker/django-filebrowser-no-grappelli.git@911318f0e735ab60485c5783759b3f6a058f2337#egg=django_filebrowser_no_grappelli-3.5.7
django-filer==1.0.0
django-modeltranslation==0.10.2
django-mptt==0.7.4
django-polymorphic==0.7.2
django-reversion==1.9.3
django-sekizai==0.8.2
Django-Select2==5.2.1
django-treebeard==3.0
djangocms-admin-style==1.0.4
djangocms-file==0.1
djangocms-flash==0.2.0
djangocms-googlemap==0.3
djangocms-inherit==0.1
djangocms-link==1.7.1
djangocms-picture==0.1
djangocms-teaser==0.1
djangocms-text-ckeditor==2.7.0
djangocms-video==0.1
djangorestframework==3.3.1
easy-thumbnails==2.2
html5lib==0.9999999
kombu==3.0.29
oauthlib==1.0.3
opbeat==3.1.3
Pillow==3.0.0
psycopg2==2.6.1
python-dateutil==2.4.2
python3-memcached==1.51
pytz==2015.7
requests==2.8.1
requests-oauthlib==0.5.0
six==1.10.0
South==1.0.2
tweepy==3.4.0
Unidecode==0.4.18
