{% load static cms_tags sekizai_tags %}
<html>
  <head>
      <title>{% page_attribute "page_title" %}</title>
      {% render_block "css" %}
      <link rel="stylesheet" href="{% static "assembly/styles/vendor.css" %}">
      <link rel="stylesheet" href="{% static "assembly/styles/main.css" %}">
  </head>
  <body>
      {% cms_toolbar %}
      {% placeholder base_content %}
      {% block header %}
      {% load menu_tags %}
          <ul>
              {% show_menu 0 100 100 100 %}
          </ul>
      {% endblock %}
      {% block breadcrumb %}{% show_breadcrumb %}{% endblock %}
      {% block base_content %}{% endblock %}
      {% block footer %}{% endblock %}
      <script src="{% static "assembly/scripts/vendor.js" %}"></script>
      <script src="{% static "assembly/scripts/main.js" %}"></script>
      {% render_block "js" %}
  </body>
</html>