{% extends "assembly/base.html" %}
{% load cms_tags %}
{% load static %}
{% load menu_tags %}


{% block base_content %}
  <div class="page">
    <div class="backgroundimage">
      <div class="backgroundfade"></div>
    </div>
    <section id="content" class="wrapper clearfix">

      <aside id="content_links" class="wrapper">
        <ul class="navigation links clearfix">
          {% show_sub_menu 100 1 100 "assembly/sidemenu.html" %}
        </ul>

        <aside id="sponsors" class="wrapper cycle-slideshow" data-cycle-timeout="5000" data-cycle-speed="2000" data-cycle-slides="ul" style="overflow: hidden;">

          <ul class="sponsors" style="position: static; top: 0px; left: 0px; z-index: 100; opacity: 1; display: block; width: 100%">
            <li><a href="http://www.jimms.fi" target="_blank"><img src="{% static "images/s-jimms.png" %}" alt="Jimms.fi" title="Jimms.fi"></a></li>
            <li><a href="http://www.asus.com" target="_blank"><img src="{% static "images/s-asus.png" %}" alt="ASUS" title="ASUS"></a></li>
            <li><a href="http://www.asus.com" target="_blank"><img src="{% static "images/s-asus.png" %}" alt="ASUS" title="ASUS"></a></li>
           <li><a href="http://www.jimms.fi" target="_blank"><img src="{% static "images/s-jimms.png" %}" alt="Jimms.fi" title="Jimms.fi"></a></li>
          </ul>

        <div class="sponsor_logos"></div>

          <ul class="sponsors" style="position: absolute; top: 0px; left: 0px; z-index: 97; opacity: 1; display: block; width: 100%">
            <li><a href="http://www.asus.com" target="_blank"><img src="{% static "images/s-asus.png" %}" alt="ASUS" title="ASUS"></a></li>
            <li><a href="http://rog.asus.com" target="_blank"><img src="{% static "images/s-rog.png" %}" alt="Republic of Gamers" title="Republic of Gamers"></a></li>
            <li><a href="http://www.asus.com" target="_blank"><img src="{% static "images/s-asus.png" %}" alt="ASUS" title="ASUS"></a></li>
             <li><a href="http://rog.asus.com" target="_blank"><img src="{% static "images/s-rog.png" %}" alt="Republic of Gamers" title="Republic of Gamers"></a></li>
          </ul>

        </aside>

      </aside>

      <article class="article">
        <div class="header-image">
          {% placeholder "article_header_image" inherit or %}
            <img src="{% static "images/default_article_header.jpg"%}" alt />
          {% endplaceholder %}
        </div>
        <div class="content">
          <ul class="breadcrumbs">{% show_breadcrumb %}</ul>
          <h1>{% page_attribute "page_title" %}</h1>
          {% placeholder template_1_content %}
        </div>
      </article>

    </section>
  </div>
{% endblock %}


