{% extends "assembly/base.html" %}
{% load cms_tags %}
{% load static %}
{% load menu_tags %}


{% block base_content %}
  <div class="page">
    <div class="backgroundimage">
      <div class="backgroundfade"></div>
    </div>
    <section id="content" class="wrapper clearfix">

      <aside id="content_links" class="wrapper">
        <ul class="navigation links clearfix">
          {% show_sub_menu 100 1 100 "assembly/sidemenu.html" %}
        </ul>
      </aside>

      <article class="news">
        <div class="article_left">
          <div class="header-image">
            {% placeholder article_header_image or %}
            <img src="{% static "images/default_article_header.jpg"%}" alt />
            {% endplaceholder %}
          </div>
          <div class="text_content">
            <ul class="breadcrumbs">{% show_breadcrumb %}</ul>
            <h1>{% page_attribute "page_title" %}</h1>
            {% placeholder template_1_content %}
          </div>
        </div>
      </article>

    </section>
  </div>
{% endblock %}


