<!doctype html>
{% load static cms_tags sekizai_tags menu_tags i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html>
<head>
  <title>ASSEMBLY &gt; {% page_attribute "page_title" %}</title>
  {% render_block "css" %}
  <link rel="stylesheet" href="{% static "assembly/styles/vendor.css" %}">
  <link rel="stylesheet" href="{% static "assembly/styles/main.css" %}">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,800,300' rel='stylesheet' type='text/css'>
  <script>
    window.DJANGO = {};
    window.DJANGO.staticPath = '{{ STATIC_URL }}';
    window.DJANGO.currentLanguage = '{{ LANGUAGE_CODE }}';
  </script>
</head>

<body class="{%page_attribute "slug"%}" ng-app="asmApp">
  {% cms_toolbar %}

  <div class="container">
    <!-- <div class="menu-wrap">
      <button class="menu-button" id="close-button">Close</button>
      <nav class="menu-side">
        <ul>
          <li> <a href="#"><i class="fa fa-home"></i> HOME</a></li>
          <li class="expanded">
          <a href="#"><i class="fa fa-book"></i> THREE LIFTS</a>
            <ul>
              <li><a href="#">Submenu Item</a></li>
              <li><a href="#">Submenu Item</a></li>
              <li><a href="#">Submenu Item</a></li>
              <li><a href="#">Submenu Item</a></li>
            </ul>
          </li>
          <li> <a href="#"><i class="fa fa-ticket"></i> TICKETS</a></li>
          <li> <a href="#"><i class="fa fa-book"></i> PARTY MANUAL</a></li>
          <li> <a href="#"><i class="fa fa-star"></i> EVENT</a></li>
          <li> <a href="#"><i class="fa fa-bookmark"></i> SPONSORS</a></li>
          <li> <a href="#"><i class="fa fa-heart"></i> ABOUT US</a></li>
          <li> <a href="#"><i class="fa fa-spinner"></i> HISTORY</a></li>
        </ul>
      </nav>
    </div> -->
    <div class="content-wrap">

      <header id="top" class="clearfix">
        <div class="top-bar">
          <div class="fader"></div>
          <div class="wrapper clearfix">
            <!-- <div id="open_menu">
              <button class="menu-button" id="open-button">Open Site Menu</button>
            </div> -->

            <div class="header-navigation">
              <a href="/">
                <div class="logocontainer">
                  <img src="{% static "images/logo_summer_2015.png" %}" class="logo"/>
                  <span class="date">30.7. - 2.8.2015</span>
                  <span class="location">Messukeskus, Helsinki</span>
                </div>
              </a>

              <ul class="navigation">
                {% show_menu 0 1 1 1 %}
              </ul>
            </div>

            <div class="language">
              <ul>
                {% language_chooser "assembly/language_chooser.html" %}
              </ul>
            </div>

            <div class="search">
              <input type="search" name="search" placeholder="Search..." results>
            </div>

          </div>
        </div>

        {% block page_header %}{% endblock %}

      </header>

      {% block base_content %}{% endblock %}

      <footer>
        <div class="wrapper">
          <div class="footer-navigation">
            <ul class="navigation clearfix">
              {% show_menu 0 0 0 0 %}
            </ul>
          </div>
          <div class="organization">
            <div class="navigation clearfix">
              {% static_placeholder 'footer_links' %}
            </div>
            <p class="copyright">&copy; 1992 &ndash; 2015 Assembly Organizing</p>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <script src="{% static "assembly/scripts/vendor.js" %}"></script>
  <script src="{% static "assembly/scripts/main.js" %}"></script>
  {% render_block "js" %}
  <script>
    moment.locale(DJANGO.currentLanguage);
  </script>
</body>
</html>
