<!doctype html>
{% load static cms_tags sekizai_tags menu_tags i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html>
<head>
  <title>ASSEMBLY &gt; {% page_attribute "page_title" %}</title>
  {% render_block "css" %}
  <link rel="stylesheet" href="{% static "assembly/styles/vendor.css" %}">
  <link rel="stylesheet" href="{% static "assembly/styles/main.css" %}">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,800,300' rel='stylesheet'>
  <link rel="icon" type="image/png" href="/static/images/favicon.png" />

  <script>
    /** Global CMS features. */
    window.DJANGO = {
      staticPath: '{{ STATIC_URL }}',
      currentLanguage: '{{ LANGUAGE_CODE }}'
    };
  </script>
</head>

<body class="{% page_attribute "slug" %}" ng-app="asmApp">
  {% cms_toolbar %}

  <div class="container">
    <!-- <div class="menu-wrap">
      <button class="menu-button" id="close-button">Close</button>
      <nav class="menu-side">
        <ul>
          <li> <a href="#"><i class="fa fa-home"></i> HOME</a></li>
          <li class="expanded">
          <a href="#"><i class="fa fa-book"></i> THREE LIFTS</a>
            <ul>
              <li><a href="#">Submenu Item</a></li>
              <li><a href="#">Submenu Item</a></li>
              <li><a href="#">Submenu Item</a></li>
              <li><a href="#">Submenu Item</a></li>
            </ul>
          </li>
          <li> <a href="#"><i class="fa fa-ticket"></i> TICKETS</a></li>
          <li> <a href="#"><i class="fa fa-book"></i> PARTY MANUAL</a></li>
          <li> <a href="#"><i class="fa fa-star"></i> EVENT</a></li>
          <li> <a href="#"><i class="fa fa-bookmark"></i> SPONSORS</a></li>
          <li> <a href="#"><i class="fa fa-heart"></i> ABOUT US</a></li>
          <li> <a href="#"><i class="fa fa-spinner"></i> HISTORY</a></li>
        </ul>
      </nav>
    </div> -->
    <div class="content-wrap">

      <header id="top" class="clearfix">
        <div class="top-bar">
          <div class="fader"></div>
          <div class="wrapper clearfix">
            <!-- <div id="open_menu">
              <button class="menu-button" id="open-button">Open Site Menu</button>
            </div> -->

            <div class="header-navigation">
              <a href="/">
                <div class="logocontainer">
                  <img src="{% static "images/logo_summer_2015.png" %}" class="logo"/>
                  <span class="date">30.7. &ndash; 2.8.2015</span>
                  <span class="location">Messukeskus, Helsinki</span>
                </div>
              </a>

              <ul class="navigation">
                {% show_menu 0 1 1 1 %}
              </ul>
            </div>

            <div class="language">
              <ul>
                {% language_chooser "assembly/language_chooser.html" %}
              </ul>
            </div>

            <div class="search">
              <!-- <input type="search" name="search" placeholder="Search..." results> -->
              <gcse:search lr="lang_{{ LANGUAGE_CODE }}"></gcse:search>
            </div>

          </div>
        </div>

        {% block page_header %}{% endblock %}

      </header>

      {% block base_content %}{% endblock %}

      <footer>
        <div class="wrapper">
          <div class="footer-navigation">
            <ul class="navigation clearfix">
              {% show_menu 0 0 0 0 %}
            </ul>
          </div>
          <div class="organization">
            <div class="navigation clearfix">
              {% static_placeholder 'footer_links' %}
            </div>
            <p class="copyright">&copy; 1992 &ndash; 2015 Assembly Organizing</p>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="{% static "assembly/scripts/vendor.js" %}"></script>
  <script src="{% static "assembly/scripts/main.js" %}"></script>
  {% render_block "js" %}
  <script>moment.locale(DJANGO.currentLanguage);</script>
  <script>
    (function() {
      var cx = '011838194253909694812:kzzecceknke';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
          '//cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-7109758-1']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_trackPageLoadTime']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

<script type="text/javascript">

window.NinchatAsyncInit = function() {
	var languages = {
		fi: {
			language:       'fi',
			audienceQueues: '239dqg97004',
			userName:       'Asiakas',
			titleText:      'Asiakaspalvelu chat',
			translations:   {
				'Join audience queue {{audienceQueue.queue_attrs.name}}': 'Asiakaspalvelu',
				'Join audience queue {{audienceQueue.queue_attrs.name}} (closed)': 'Asiakaspalvelu (suljettu)',
				'Joined audience queue {{audienceQueue.queue_attrs.name}}, you are at position {{audienceQueue.queue_position}}.':
				'Liitytty jonoon. Olet sijalla {{audienceQueue.queue_position}}.',
				'Audience in queue {{queue}} accepted.': 'Keskustelupyyntöön vastattu',
				'Joined audience queue {{audienceQueue.queue_attrs.name}}, you are next.': 'Olet seuraavana jonossa.',
				'Enter your message': 'Kirjoita viesti'
                        },
			motd:           (
				'<ul class="links unstyled">' +
				'<li><a href="http://www.assembly.org/summer14/manual/faq" target="tausta">Usein kysytyt kysymykset</a></li>' +
				'<li><a href="http://www.assembly.org/asmorg/contact" target="tausta">Ota yhteyttä</a></li>' +
				'</ul>' +
				'<p>' +
				'Chat avoinna arkisin 9:30-2:00' +
				'</p>'
			)
		},

		en: {
			language:       'en',
			audienceQueues: '239dqg97004',
			userName:       'Customer',
			titleText:      'Customer Service Chat',
			translations:   {
				'Join audience queue {{audienceQueue.queue_attrs.name}}':' Customer support',
				'Join audience queue {{audienceQueue.queue_attrs.name}} (closed)':'Customer support (closed)',
				'Joined audience queue {{audienceQueue.queue_attrs.name}}, you are {{audienceQueue.queue_position}}.': '',
				'Audience in queue {{queue}} accepted.': 'Conversation has started',
				'Joined audience queue {{audienceQueue.queue_attrs.name}}, you are next.': 'You are next in line.',
				'Enter your message': 'Enter your message'
			},
			motd:           (
				'<ul class="links unstyled">' +
				'<li><a href="http://www.assembly.org/summer14/manual/faq" target="tausta">Frequently asked questions</a></li>' +
				'<li><a href="http://www.assembly.org/asmorg/contact" target="tausta">Leave a message</a></li>' +
				'</ul>' +
				'<p>' +
				'Chat open 9:30-2:00' +
				'</p>'
			)
		}
	};

	var lang = window.DJANGO.currentLanguage;
	var language = languages[lang] || languages.en;

	window.Ninchat.embedInit({
		audienceRealmId: '239dq423004',
		audienceQueues:  language.audienceQueues,
		userName:        language.userName,
		remember:        false,
		audienceRating:  true,
		language:        language.language,
		titleBackground: 'black',
		titleText:       language.titleText,
		translations:    language.translations,
		motd:            (
			'<style>' +
			'.motd time { display: none; }' +
			'.motd ul { border-top: 1px solid #ccc; }' +
			'.motd li { border-bottom: 1px solid #ccc; padding: 5px; text-align: 	left; }' +
			'.motd li:hover { cursor: pointer; border-bottom: 1px solid #ccc; padding: 5px; }' +
			'.motd li a { display: block; text-align: center; text-decoration: none !important;  }' +
			'.motd p { font-size: .9em; text-align: center; }' +
			'</style>' +
			language.motd
		),
		audienceMetadata: {
			URL: window.location.href,
			Referrer: document.referrer,
			Browser: navigator.userAgent
		}
	});
};

(function(doc) {
	if (doc.getElementById('ninchat-js')) {
		return;
	}

	var js, first = doc.getElementsByTagName('script')[0];

	js     = doc.createElement('script');
	js.id  = 'ninchat-js';
	js.src = 'https://ninchat.com/js/embed.min.js?_' + new Date().getDate();
	first.parentNode.insertBefore(js, first);
}(document));

</script>
</body>
</html>
