{% extends "assembly/base.html" %}
{% load cms_tags %}
{% load static %}
{% load menu_tags %}

{% block base_content %}
  <div class="page">
    <div class="backgroundimage">
      <div class="backgroundfade"></div>
    </div>
    <section id="content" class="wrapper clearfix">
      <!-- <aside class="main-sponsors">
        {% static_placeholder "main_sponsors" %}
      </aside> -->

      <div id="content_links">
        <ul class="navigation links">
          {% show_sub_menu 100 1 100 "assembly/sidemenu.html" %}
        </ul>
        &nbsp; <!-- Don't let the element collapse -->
      </div>
      {% block page_content %}{% endblock %}
      <aside class="side-sponsors main-side-sponsors">
          <a href="http://www.jimms.fi" target="_blank"><img src="{% static "images/s-jimms.png" %}" alt="Jimms.fi" title="Jimms.fi"></a>
          <a href="http://www.asus.com" target="_blank"><img src="{% static "images/s-asus.png" %}" alt="ASUS" title="ASUS"></a>
          <a href="http://www.amd.com" target="_blank"><img src="/media/cms_page_media/5/AMD-white-250px.png" alt="AMD" title="AMD" style="width:215px;margin-left:36px;"></a>
      </aside>

      <aside class="side-sponsors wrapper cycle-slideshow" data-cycle-timeout="5000" data-cycle-speed="2000" data-cycle-slides="ul" style="overflow: hidden;">

        <ul class="sponsors" style="position: static; top: 0px; left: 0px; z-index: 100; opacity: 1; display: block; width: 100%">
          <li><a href="http://www.elisa.fi" target="_blank"><img src="{% static "/media/cms_page_media/39/elisa_logo-250px_i7hwu0o.png" %}" alt="Elisa.fi" title="Elisa.fi"></a></li>
          <li><a href="http://www.pelaaja.fi" target="_blank"><img src="{% static "/media/cms_page_media/39/pelaaja-logo_cW3LYMd.jpeg" %}" alt="Pelaaja" title="Pelaaja"></a></li>
          <li><a href="http://www.tamk.fi" target="_blank"><img src="{% static "/media/cms_page_media/39/tamk-logo_ITfMYBA_6Vhvr6t.png" %}" alt="Tamk" title="Tamk"></a></li>
          <li><a href="http://turkugamelab.fi" target="_blank"><img src="{% static "/media/cms_page_media/39/tgl-logos14_jIxkTFo_jlie6RA.png" %}" alt="Turku Game Lab" title="Turku Game Lab"></a></li>
        </ul>

        <div class="sponsor_logos"></div>

        <ul class="sponsors" style="position: absolute; top: 0px; left: 0px; z-index: 97; opacity: 1; display: block; width: 100%">
          <li><a href="http://www.metropolia.fi" target="_blank"><img src="{% static "/media/cms_page_media/39/metropolia_logo_wB9hr37.jpg" %}" alt="Metropolia" title="Metropolia"></a></li>
          <li><a href="http://www.kamk.fi" target="_blank"><img src="{% static "/media/cms_page_media/39/Kajak_250px_qUBNzHQ.jpg" %}" alt="Kajak" title="Kajak"></a></li>
          <li><a href="http://www.jyu.fi" target="_blank"><img src="{% static "/media/cms_page_media/39/jyu-it-250px_GaapkZ5.png" %}" alt="Jyv&auml;skyl&auml;n yliopisto" title="Jyv&auml;skyl&auml;n yliopisto"></a></li>
          <li><a href="http://www.skrolli.fi" target="_blank"><img src="{% static "/media/cms_page_media/39/skrolli-logo250px_RAGqami_Kl0IeOe.png" %}" alt="Skrolli" title="Skrolli"></a></li>
        </ul>

        <ul class="sponsors" style="position: static; top: 0px; left: 0px; z-index: 100; opacity: 1; display: block; width: 100%">
          <li><a href="http://www.elisa.fi" target="_blank"><img src="{% static "/media/cms_page_media/39/elisa_logo-250px_i7hwu0o.png" %}" alt="Elisa.fi" title="Elisa.fi"></a></li>
          <li><a href="http://www.seul.fi" target="_blank"><img src="{% static "/media/cms_page_media/39/seul-250_6CYC88r.png" %}" alt="SEUL" title="SEUL"></a></li>
          <li><a href="http://kirkkoassyilla.blogspot.com" target="_blank"><img src="{% static "/media/cms_page_media/39/evl-logo_hpD4C65.png" %}" alt="Lataamo" title="Lataamo"></a></li>
          <li><a href="http://www.skrolli.fi" target="_blank"><img src="{% static "/media/cms_page_media/39/skrolli-logo250px_RAGqami_Kl0IeOe.png" %}" alt="Skrolli" title="Skrolli"></a></li>
        </ul>
      </aside>

    </section>

  </div>
{% endblock %}
