{% extends "assembly/base.html" %}
{% load cms_tags %}
{% load static %}
{% load menu_tags %}

{% block base_content %}
  <div class="page">
    <div class="backgroundimage">
      <div class="backgroundfade"></div>
    </div>
    <section id="content" class="wrapper clearfix">

      <div id="content_links">
        <ul class="navigation links">
          {% show_sub_menu 100 1 100 "assembly/sidemenu.html" %}
        </ul>
        &nbsp; <!-- Don't let the element collapse -->
      </div>

      {% block content %}{% endblock %}

      <aside class="side-sponsors main-side-sponsors">
        {% static_placeholder "main_sponsors" site %}
      </aside>

      <aside class="side-sponsors cycle-slideshow" data-cycle-timeout="5000" data-cycle-speed="2000" data-cycle-slides="ul">
        
        {% if current_site.slug == "summer15" %}
            {% include "assembly/sub_sponsors_summer15.html" %}
        {% elif current_site.slug == "winter16" %}
            {% include "assembly/sub_sponsors_winter16.html" %}
        {% elif current_site.slug == "summer16" %}
            {% include "assembly/sub_sponsors_summer16.html" %}
        {% elif current_site.slug == "winter17" %}
            {% include "assembly/sub_sponsors_winter17.html" %}
        {% endif %}

      </aside>

    </section>

  </div>
{% endblock %}
