{% extends "assembly/base.html" %}
{% load cms_tags %}
{% load static %}
{% load menu_tags %}

{% block page_header %}
<canvas id="demo-canvas"></canvas>
<div class="event-info">
  <div class="wrapper clearfix">
    <div class="logo">
      <img src="{% static "images/logo_summer_2015.png" %}" alt="ASSEMBLY Summer 2015" title="ASSEMBLY Summer 2015" />
    </div>
    <div class="schedule-location">
      <h3>30.7. &ndash; 2.8.2015</h3>
      <h4>Messukeskus, Helsinki</h4>
    </div>
    <div class="call-for-action">
      {% placeholder "call_for_action" or %}<a href="">...</a>{% endplaceholder %}
    </div>
  </div>
</div>
<div id="carousel">
  <div class="carousel_meta">
    <h3>ASUS ROG $25 000 Prize Pool</h3>
    <a href="#" class="carousel_read_more">Read More</a>
  </div>
  <div class="fader"></div>
</div>
{% endblock %}

{% block base_content %}
<div class="wrapper">
  <aside class="main-sponsors" class="wrapper">
    {% placeholder "main_sponsors" %}
  </aside>

  <nav class="quick-links">
    {% placeholder "quick_links" %}
  </nav>

  <a href="#" class="news_archive">News archive</a>
</div>
{% endblock %}