{% extends "assembly/base.html" %}
{% load cms_tags %}
{% load static %}
{% load menu_tags %}

{% block page_header %}
<canvas id="demo-canvas"></canvas>
<div class="event-info">
  <div class="wrapper clearfix">
    <div class="logo">
      <img src="{% static "images/logo_summer_2015.png" %}" alt="ASSEMBLY Summer 2015" title="ASSEMBLY Summer 2015" />
    </div>
    <div class="schedule-location">
      <h3>30.7. &ndash; 2.8.2015</h3>
      <h4>Messukeskus, Helsinki</h4>
    </div>
    <div class="call-for-action">
      {% placeholder "call_for_action" or %}<a href="">...</a>{% endplaceholder %}
    </div>
  </div>
</div>
<div id="carousel">
  <div class="carousel_meta">
    <h3>ASUS ROG $25 000 Prize Pool</h3>
    <a href="#" class="carousel_read_more">Read More</a>
  </div>
  <div class="fader"></div>
</div>
{% endblock %}

{% block top_sponsors %}
  <aside class="main-sponsors" class="wrapper">
    <ul class="sponsors clearfix">
      <li>{% placeholder "sponsor1" %}</li>
      <li>{% placeholder "sponsor2" %}</li>
      <li>{% placeholder "sponsor3" %}</li>
      <!-- <li><a href="http://www.jimms.fi" target="_blank"><img src="{% static "images/s-jimms.png" %}" alt="Jimms.fi" title="Jimms.fi"></a></li>
      <li><a href="http://www.asus.com" target="_blank"><img src="{% static "images/s-asus.png" %}" alt="ASUS" title="ASUS"></a></li>
      <li><a href="http://rog.asus.com" target="_blank"><img src="{% static "images/s-rog.png" %}" alt="Republic of Gamers" title="Republic of Gamers"></a></li> -->
    </ul>
  </aside>
{% endblock %}

{% block base_content %}
<a href="#" class="news_archive">News archive</a>
{% endblock %}