{% load static %}

<ul class="sponsors-slide"> <!-- white text on transparent -->
  <li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/elisa_white_250px.png" %}" ></a></li>
  <li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/metropolia_white_250px.png"  %}" ></a></li>
  <li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/palringo_white_250.png" %}" ></a></li>
  <li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/pelaaja_white_250px.png" %}" ></a></li>
</ul>

<ul class="sponsors-slide"> <!-- white text on transparent -->
    <li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/seul_white_250px.png" %}" ></a></li>
	<li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/unity_white_250px.png " %}" ></a></li>
    <li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/turkugamelab_white_250px.png" %}" ></a></li>
    <li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/corsair_250px.png" %}" ></a></li>
</ul>

<ul class="sponsors-slide"> <!-- white on black -->
    <li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/hyperx_white_250px.png" %}" ></a></li>
	<li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/logitech_white_250px.png" %}" ></a></li>
    <li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/steelseries_onblack_250px.png" %}" ></a></li>
    <li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/supercell_onblack_250px.jpg" %}" ></a></li>
    <li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/evl_onblack_250px.png" %}" ></a></li>
</ul>

<ul class="sponsors-slide"> <!-- black on white -->
    <li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/netari_250.png" %}" ></a></li>
	<li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/tamk_onwhite_250px.png" %}" ></a></li>
    <li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/windows10_onwhite_250px.png" %}" ></a></li>
    <li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/xbox_one_onwhite_250px.png" %}" ></a></li>
</ul>
 
<ul class="sponsors-slide"> <!-- black on white --> 
    <li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/avermedia_onwhite_250px.png" %}" ></a></li>
	<li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/cooler_master_onwhite_250px.png" %}" ></a></li>
    <li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/ducky_onwhite_250px.jpg" %}" ></a></li>
    <li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/jyu_leima_onwhite_250px.png" %}" ></a></li>
</ul>

<ul class="sponsors-slide"> <!-- värikkäät / punaset -->
    <li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/edupoli_250px.png" %}" ></a></li>
	<li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/ilta_sanomat_onwhite_250px.png" %}" ></a></li>
    <li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/redlynx_onwhite_250px.png" %}" ></a></li>
    <li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/cisco_onwhite_250px.png" %}" ></a></li>
</ul>

<ul class="sponsors-slide"> <!-- green / blue on black -->
    <li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/kajak_onblack_250px.jpg" %}" ></a></li>
    <li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/razer_onblack_250px.png" %}" ></a></li>
    <li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/roccat_blackbg_250px.jpg" %}" ></a></li>
	<li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/sponsors/skrolli_250px.png" %}" ></a></li>
</ul>
