{% load static %}

{% comment %}
<ul class="sponsors-slide"> <!-- white text on transparent -->
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="{% static "/media/uploads/sponsors/elisa_white_250px.png" %}" ></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="{% static "/media/uploads/sponsors/steelseries_white_on_trans_250px.png" %}" ></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="{% static "/media/uploads/sponsors/pelaaja_white_250px.png" %}" ></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="{% static "/media/uploads/sponsors/seul_white_250px.png" %}" ></a></li>
</ul>
<ul class="sponsors-slide"> <!-- värikkäät on transparent -->
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="{% static "/media/uploads/sponsors/ilta_sanomat_onwhite_250px.png" %}" ></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="{% static "/media/uploads/sponsors/cisco_onwhite_250px.png" %}" ></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="{% static "/media/uploads/sponsors/skrolli_250px.png" %}" ></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="{% static "/media/uploads/sponsors/corsair_250px.png" %}" ></a></li>
</ul>
<ul class="sponsors-slide"> <!-- white & colors on black -->
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="{% static "/media/uploads/sponsors/hyperx_white_250px.png" %}" ></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="{% static "/media/uploads/sponsors/logitech_white_250px.png" %}" ></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="{% static "/media/uploads/sponsors/razer_onblack_250px.png" %}" ></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="{% static "/media/uploads/sponsors/roccat_blackbg_250px.jpg" %}" ></a></li>
</ul>
<ul class="sponsors-slide"> <!-- black on white -->
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="{% static "/media/uploads/sponsors/avermedia_onwhite_250px.png" %}" ></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="{% static "/media/uploads/sponsors/cooler_master_onwhite_250px.png" %}" ></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="{% static "/media/uploads/sponsors/ducky_onwhite_250px.jpg" %}" ></a></li>
</ul>
{% endcomment %}