{% load static %}

<!-- summer16 sponsors -->

{% comment %}{% endcomment %}
<ul class="sponsors-slide"> <!-- group 1 -->
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468504286/174/"></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468504286/175/"></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468504286/177/"></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468504286/176/"></a></li>
</ul>
<ul class="sponsors-slide"> <!-- group 2 -->
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468504292/180/"></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468504292/179/"></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468504292/178/"></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468504292/181/"></a></li>
</ul>
<ul class="sponsors-slide"> <!-- group 3 -->
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468504298/182/"></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468504298/184/"></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468504298/183/"></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468504298/185/"></a></li>
</ul>
<ul class="sponsors-slide"> <!-- group 4 -->
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468504319/193/"></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468504319/194/"></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468504319/195/"></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468504319/196/"></a></li>
</ul>
<ul class="sponsors-slide"> <!-- group 5 -->
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468504311/189/"></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468504311/191/"></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468504319/195/"></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468504319/196/"></a></li>
</ul>
<ul class="sponsors-slide"> <!-- group 6 -->
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468504319/193/"></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468504319/194/"></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468504311/190/"></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468504311/192/"></a></li>
</ul>
<ul class="sponsors-slide"> <!-- group 7 -->
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468504304/187/"></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468504304/188/"></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468504304/186/"></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src=""></a></li>
</ul>