{% load static %}

{% comment %}
<ul class="sponsors-slide"> <!-- white text on transparent -->
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="{% static "/media/uploads/sponsors/jimms.jpeg" %}" ></a></li>
</ul>

<!--
<ul class="sponsors-slide"> --> <!-- white text on transparent -->
  <!--
  <li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/s15-sponsor-carousel/elisa_white_250px.png" %}" ></a></li>
  <li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/s15-sponsor-carousel/metropolia_white_250px.png"  %}" ></a></li>
  <li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/s15-sponsor-carousel/palringo_white_250.png" %}" ></a></li>
  <li><a href="http://www.assembly.org/sponsors/"><img src="{% static "/media/uploads/s15-sponsor-carousel/pelaaja_white_250px.png" %}" ></a></li>
</ul>
-->

{% endcomment %}
