{% load static %}

{% comment " TODO Käytä tätä kun current.site toimii " %}
<ul class="sponsors-slide"> <!-- white text on transparent -->
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="{% static "/media/uploads/sponsors/jimms.jpeg" %}" ></a></li>
</ul>
{% endcomment %}

<ul class="sponsors-slide"> <!-- white text on transparent -->
  <li><a href="/winter16/sponsors/"><img src="{% static "/media/uploads/s15-sponsor-carousel/elisa_white_250px.png" %}" ></a></li>
  <li><a href="/winter16/sponsors/"><img src="{% static "/media/uploads/s15-sponsor-carousel/steelseries_white_on_trans_250px.png" %}" ></a></li>
  <li><a href="/winter16/sponsors/"><img src="{% static "/media/uploads/s15-sponsor-carousel/pelaaja_white_250px.png" %}" ></a></li>
  <li><a href="/winter16/sponsors/"><img src="{% static "/media/uploads/s15-sponsor-carousel/seul_white_250px.png" %}" ></a></li>
</ul>
<ul class="sponsors-slide"> <!-- värikkäät on transparent -->
	<li><a href="/winter16/sponsors/"><img src="{% static "/media/uploads/s15-sponsor-carousel/ilta_sanomat_onwhite_250px.png" %}" ></a></li>
  <li><a href="/winter16/sponsors/"><img src="{% static "/media/uploads/s15-sponsor-carousel/cisco_onwhite_250px.png" %}" ></a></li>
	<li><a href="/winter16/sponsors/"><img src="{% static "/media/uploads/s15-sponsor-carousel/skrolli_250px.png" %}" ></a></li>
  <li><a href="/winter16/sponsors/"><img src="{% static "/media/uploads/s15-sponsor-carousel/corsair_250px.png" %}" ></a></li>
</ul>
<ul class="sponsors-slide"> <!-- white & colors on black -->
  <li><a href="/winter16/sponsors/"><img src="{% static "/media/uploads/s15-sponsor-carousel/hyperx_white_250px.png" %}" ></a></li>
	<li><a href="/winter16/sponsors/"><img src="{% static "/media/uploads/s15-sponsor-carousel/logitech_white_250px.png" %}" ></a></li>
  <li><a href="/winter16/sponsors/"><img src="{% static "/media/uploads/s15-sponsor-carousel/razer_onblack_250px.png" %}" ></a></li>
  <li><a href="/winter16/sponsors/"><img src="{% static "/media/uploads/s15-sponsor-carousel/roccat_blackbg_250px.jpg" %}" ></a></li>
</ul>
<ul class="sponsors-slide"> <!-- black on white -->
  <li><a href="/winter16/sponsors/"><img src="{% static "/media/uploads/s15-sponsor-carousel/avermedia_onwhite_250px.png" %}" ></a></li>
	<li><a href="/winter16/sponsors/"><img src="{% static "/media/uploads/s15-sponsor-carousel/cooler_master_onwhite_250px.png" %}" ></a></li>
  <li><a href="/winter16/sponsors/"><img src="{% static "/media/uploads/s15-sponsor-carousel/ducky_onwhite_250px.jpg" %}" ></a></li>
</ul>
