{% load static %}

<ul class="sponsors-slide">
  <li><a href="http://www.elisa.fi" target="_blank"><img src="{% static "/media/cms_page_media/39/elisa_logo-250px_i7hwu0o.png" %}" alt="Elisa.fi" title="Elisa.fi"></a></li>
  <li><a href="http://www.pelaaja.fi" target="_blank"><img src="{% static "/media/cms_page_media/39/pelaaja-logo_cW3LYMd.jpeg" %}" alt="Pelaaja" title="Pelaaja"></a></li>
  <li><a href="http://www.tamk.fi" target="_blank"><img src="{% static "/media/cms_page_media/39/tamk-logo_ITfMYBA_6Vhvr6t.png" %}" alt="Tamk" title="Tamk"></a></li>
  <li><a href="http://turkugamelab.fi" target="_blank"><img src="{% static "/media/cms_page_media/39/tgl-logos14_jIxkTFo_jlie6RA.png" %}" alt="Turku Game Lab" title="Turku Game Lab"></a></li>
</ul>

<ul class="sponsors-slide">
  <li><a href="http://www.metropolia.fi" target="_blank"><img src="{% static "/media/cms_page_media/39/metropolia_logo_wB9hr37.jpg" %}" alt="Metropolia" title="Metropolia"></a></li>
  <li><a href="http://www.kamk.fi" target="_blank"><img src="{% static "/media/cms_page_media/39/Kajak_250px_qUBNzHQ.jpg" %}" alt="Kajak" title="Kajak"></a></li>
  <li><a href="http://www.jyu.fi" target="_blank"><img src="{% static "/media/cms_page_media/39/jyu-it-250px_GaapkZ5.png" %}" alt="Jyv&auml;skyl&auml;n yliopisto" title="Jyv&auml;skyl&auml;n yliopisto"></a></li>
  <li><a href="http://www.skrolli.fi" target="_blank"><img src="{% static "/media/cms_page_media/39/skrolli-logo250px_RAGqami_Kl0IeOe.png" %}" alt="Skrolli" title="Skrolli"></a></li>
</ul>

<ul class="sponsors-slide">
  <li><a href="http://www.elisa.fi" target="_blank"><img src="{% static "/media/cms_page_media/39/elisa_logo-250px_i7hwu0o.png" %}" alt="Elisa.fi" title="Elisa.fi"></a></li>
  <li><a href="http://www.seul.fi" target="_blank"><img src="{% static "/media/cms_page_media/39/seul-250_6CYC88r.png" %}" alt="SEUL" title="SEUL"></a></li>
  <li><a href="http://kirkkoassyilla.blogspot.com" target="_blank"><img src="{% static "/media/cms_page_media/39/evl-logo_hpD4C65.png" %}" alt="Lataamo" title="Lataamo"></a></li>
  <li><a href="http://www.skrolli.fi" target="_blank"><img src="{% static "/media/cms_page_media/39/skrolli-logo250px_RAGqami_Kl0IeOe.png" %}" alt="Skrolli" title="Skrolli"></a></li>
</ul>

<ul class="sponsors-slide">
  <li><a href="htpp://www.cisco.com" target="_blank"><img src="{% static "/media/cms_page_media/39/cisco-logo_uIjjwif.png" %}" alt="Cisco" title="Cisco"></a></li>
  <li><a href="http://steelseries.com/" target="_blank"><img src="{% static "/media/cms_page_media/39/SteelSeries_logo_horizontal_white_150px_Banner.png" %}" alt="Steelseries" title="Steelseries"></a></li>
  <li><a href="http://www.avermedia.com/" target="_blank"><img src="{% static "/media/cms_page_media/39/Avermedia-Logo-150px_Banner.png" %}" alt="AVerMedia" title="AVerMedia"></a></li>
  <li><a href="http://www.coolermaster.com/" target="_blank"><img src="{% static "/media/cms_page_media/39/Cooler-Master-Black-logo-150px_Banner.png" %}" alt="Cooler Master" title="Cooler Master"></a></li>
</ul>

<ul class="sponsors-slide">
  <li><a href="http://gaming.corsair.com/" target="_blank"><img src="{% static "/media/cms_page_media/39/Corsair_logo_150px_Banner.png" %}" alt="Corsair Gaming" title="Corsair Gaming"></a></li>
  <li><a href="http://www.duckychannel.com.tw/en/" target="_blank"><img src="{% static "/media/cms_page_media/39/Ducky-logo_150px_Banner.jpg" %}" alt="DuckyChannel" title="DuckyChannel"></a></li>
  <li><a href="http://www.edupoli.fi/" target="_blank"><img src="{% static "/media/cms_page_media/39/Edupoli_logo_150px_Banner.png" %}" alt="Edupoli" title="Edupoli"></a></li>
  <li><a href="https://www.jyu.fi/it" target="_blank"><img src="{% static "/media/cms_page_media/39/JYU-leimalogo-150px_Banner.png" %}" alt="Jyväskylän yliopisto" title="Jyväskylän yliopisto"></a></li>
</ul>

<ul class="sponsors-slide">
  <li><a href="http://www.kamk.fi/en" target="_blank"><img src="{% static "/media/cms_page_media/39/Kajaani_AMK_logo_150px_Banner.png" %}" alt="KAMK" title="KAMK"></a></li>
  <li><a href="http://www.kingston.com/en/hyperx" target="_blank"><img src="{% static "/media/cms_page_media/39/Kingston_HyperX_TM-Logo_150px_Banner.jpg" %}" alt="HyperX" title="HyperX"></a></li>
  <li><a href="http://www.razerzone.com/" target="_blank"><img src="{% static "/media/cms_page_media/39/Razer-logo-150px_Banner.png" %}" alt="Razer" title="Razer"></a></li>
  <li><a href="http://www.roccat.org/" target="_blank"><img src="{% static "/media/cms_page_media/39/ROCCAT-Logo_Horizontal_white_150px_Banner.jpg" %}" alt="Roccat" title="Roccat"></a></li>
</ul>