{% load static %}

<!-- winter17 sponsors -->

<ul class="sponsors-slide"> <!-- 1 -->
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="{% static "/media/uploads/winter17/sponsors/corsair_gaming_150x150.png" %}" ></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/media/uploads/winter17/sponsors/hyperx_onblack_150x150.png" ></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="{% static "/media/uploads/winter17/sponsors/logitech_square_white_150x150.png" %}" ></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="{% static "/media/uploads/winter17/sponsors/msi_ver_white_150x150.png" %}" ></a></li>
</ul>
<ul class="sponsors-slide"> <!-- 2 -->
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="{% static "/media/uploads/winter17/sponsors/ozone_white_150x150.png" %}" ></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="{% static "/media/uploads/winter17/sponsors/plantronics_150x150.png" %}" ></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="{% static "/media/uploads/winter17/sponsors/razer_150x150.png" %}" ></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="{% static "/media/uploads/winter17/sponsors/roccat_edge_150x150.png" %}" ></a></li>
</ul>
<ul class="sponsors-slide"> <!--3 -->
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468490774/148/" ></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="http://www.assembly.org/filer/uploads/1468491360/158/" ></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src="{% static "/media/uploads/winter17/sponsors/ultimat_racing_150x150.png" %}" ></a></li>
  <li><a href="/{{ current_site.slug }}/sponsors/"><img src= "http://www.assembly.org/media/uploads/winter17/sponsors/twitch_white_150.png" ></a></li>
</ul>