{% extends "aldryn_newsblog/news/two_column.html" %}
{% load i18n cms_tags %}

{% block newsblog_content %}
    {% render_placeholder view.config.list_view_placeholder language placeholder_language %}
    <div class="news-article-list">
        {% for article in article_list %}
            <div class="news-container">
                {% include "aldryn_newsblog/news/includes/article.html" %}
            </div>
        {% empty %}
            <div class="news-container">
                <div class="news-article">
                    <p>{% trans "No items available" %}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block newsblog_footer %}
    <div class="news-list-pagination">
        {% include "aldryn_newsblog/news/includes/pagination.html" %}
    </div>
{% endblock %}
