{% extends "aldryn_newsblog/news/base.html" %}
{% load i18n cms_tags %}

{% block content %}
    <div class="news-fullscreen">
        {% if view.show_header %}
            <div class="news-header">
                {% render_placeholder view.config.placeholder_base_top %}
            </div>
        {% endif %}
        <div class="news-container">
            {% block newsblog_title %}{% endblock %}
            {% block newsblog_content %}{% endblock %}
            {% block newsblog_footer %}{% endblock %}
        </div>
    </div>
{% endblock content %}
