{% extends "aldryn_newsblog/news/base.html" %}
{% load i18n cms_tags %}

{% block content %}
    <div class="news-fullscreen">
        {% if view.show_header %}
            {% render_placeholder view.config.placeholder_base_top %}
        {% endif %}
        <div class="aldryn aldryn-newsblog">
            {% block newsblog_title %}{% endblock %}
            {% block newsblog_content %}{% endblock %}
        </div>
        {% block newsblog_footer %}{% endblock %}
    </div>
{% endblock content %}
