{% extends "aldryn_newsblog/news/base.html" %}
{% load i18n cms_tags %}

{% block content %}
    <div class="news-fullscreen">
        <div class="news-split-sidebar">
            {% render_placeholder view.config.placeholder_base_sidebar %}
            {% block newsblog_sidebar %}{% endblock %}
        </div>
        <div class="news-split-content">
            {% if view.show_header %}
                <div class="news-header">
                    {% render_placeholder view.config.placeholder_base_top %}
                </div>
            {% endif %}
            <div class="news-container">
                {% block newsblog_title %}{% endblock %}
                {% block newsblog_content %}{% endblock %}
                {% block newsblog_footer %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock content %}
