{% load i18n apphooks_config_tags cms_tags sekizai_tags staticfiles thumbnail site_selector_aldryn %}
{% load url from future %}

<article class="news-article
{% if not detail_view %}news-summary{% endif %}
{% if article.is_featured %} news-article-featured{% endif %}
{% if not article.published %} unpublished{% endif %}
{% if article.future %} future{% endif %}">
<div class="news-content-wrapper">

    {% block newsblog_visual %}
        {% if article.featured_image_id %}
            {% if not detail_view %}<a href="/{{ current_site.slug }}{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">{% endif %}
        <div class="news-cover-image"
             style="background-image: url({% thumbnail article.featured_image.image 800x450 crop subject_location=article.featured_image.subject_location %});"></div>
        {% if not detail_view %}</a>{% endif %}
        {% endif %}
    {% endblock newsblog_visual %}

    <div class="news-content">
        {% block newsblock_title %}
            <h2 class="news-title">
                {% if not detail_view %}
                    <a href="/{{ current_site.slug }}{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">{% render_model article "title" %}</a>
                {% else %}
                    {% render_model article "title" %}
                {% endif %}
            </h2>
        {% endblock newsblock_title %}

        {% if not detail_view %}
            <div class="news-body">
                {% render_model article "lead_in" "" "" "striptags|truncatewords:'20'" %}
            </div>
        {% else %}
            <div class="news-body article">
                {% render_model article "lead_in" %}
            </div>
        {% endif %}
    </div>

    {% block newsblog_meta %}
        {% if detail_view %}
            <div class="news-detail-meta">
                {% include "aldryn_newsblog/news/includes/author.html" with author=article.author %}

                {% if article.tags %}
                    <ul class="news-tags">
                        {% for tag in article.tags.all %}
                            <li>
                                <a href="/{{ current_site.slug }}{% namespace_url 'article-list-by-tag' tag=tag.slug namespace=namespace default='' %}">
                                    {{ tag.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% block newsblog_categories %}
                    {% if article.categories %}
                        <ul class="news-categories">
                            {% for category in article.categories.all %}
                                <li>
                                    <a href="/{{ current_site.slug }}{% namespace_url 'article-list-by-category' category.slug namespace=namespace default='' %}">
                                        {{ category.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endblock newsblog_categories %}
            </div>
        {% else %}
            <div class="news-summary-meta">
                <p class="news-meta-time">{{ article.publishing_date | date:"d.m.Y H.i" }}</p>
                <a href="/{{ current_site.slug }}{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">
                    {% trans "Read more" %}
                </a>
            </div>
        {% endif %}
    {% endblock newsblog_meta %}
</div>
</article>

{% addtoblock "css" %}
    <link rel="stylesheet" href="{% static 'css/aldryn-newsblog/article.css' %}">{% endaddtoblock %}
