asm-streams {
  .game {
    h4 {
      margin-bottom: 5px;

      .badge { padding: 7px; }
    }
  }

  .stream {
    padding: 10px;

    a { font-weight: bold; }

    &:nth-child(even) { background-color: #f1f1f1; }
    &.offline {
      opacity: 0.5;
      a { font-weight: normal; }
    }
  }


  .badge {
    display: inline-block;
    background-color: #8BC34A;
    width: 10px;
    height: 10px;
    padding: 6px;
    border-radius: 50%;

    &.offline {
      background-color: #F44336;
    }
  }

  .viewers {
    float: right;
  }
}