<table class="schedule-table">
  <thead>
    <tr ng-if="sch.days">
      <th class="no-mobile" ng-bind=":: sch.locale.days"></th>
      <td class="days">
        <a ng-repeat="day in sch.days" ng-href="#{{:: day | lowercase }}" ng-bind=":: day"></a>
      </td>
    </tr>
    <tr ng-if="sch.flags">
      <th class="no-mobile" ng-bind=":: sch.locale.filter"></th>
      <td class="flags">
        <span>
          <a ng-repeat="flag in sch.flags" ng-click="sch.search = flag">{{:: flag }}</a>
          <a ng-click="sch.search = null">{{:: sch.locale.all }}</a>
        </span>
        <span class="input-container">
          <input type="text" ng-model="sch.search" ng-attr-placeholder="{{:: sch.locale.search }}">
          <i class="fa fa-times clear" ng-click="sch.search = null"></i>
        </span>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat-start="day in sch.days" id="{{:: day | lowercase }}">
      <th class="no-mobile"></th>
      <th class="subtitle" ng-bind="::day"></th>
    </tr>
    <tr class="event"
      ng-repeat="event in sch.eventsByDay[day] | filter:sch.search as events track by event.id"
      id="{{:: event.id }}"
      ng-class="{
        past: event.isPast,
        rescheduled: event.isRescheduled,
        selected: event.isSelected,
        major: event.flags.indexOf('major') !== -1,
        ongoing: event.isOngoing
      }"
      ng-repeat-end>
      <th class="tmptime" ng-bind="event.startTime.isSame(events[$index - 1].startTime) ? '' : event.startTime.format('HH:mm')"></th>
      <td>
        <h4>
          <span class="mobiletime" ng-if=":: !event.isPast">
            {{:: event.startTime.format('HH:mm') }}
          </span>
          <a class="name" ng-href="{{:: event.url }}" ng-bind=":: event.name"></a>
          <a class="anchor" ng-click="sch.select(event)">#</a>
        </h4>
        <small>
          <a ng-href="{{:: event.location.url }}" ng-bind=":: event.location.name"></a>
          <strong ng-if="event.isOngoing">
            &ndash; {{:: sch.locale.ongoing }}
          </strong>
          <strong ng-if=":: event.isRescheduled">
            &ndash; {{:: sch.locale.original }} {{:: event.originalStartTime.format('HH:mm') }}
          </strong>
          <span ng-if=":: !event.startTime.isSame(event.endTime)">
            &ndash;
            {{:: sch.locale.ends }}
            <span ng-if="::! event.startTime.isSame(event.endTime, 'day')">
              {{:: sch.locale.atDay }} {{:: event.endTime.format('dddd') }}{{:: sch.locale.atTime }}
            </span>
            {{:: event.endTime.format('HH:mm') }}
          </span>
        </small>
        <p class="description no-mobile" ng-bind=":: event.description"></p>
      </td>
    </tr>

  </tbody>
</table>