asm-schedule {
  background-color: #fff;
  display: block;
  width: 100%;
  min-height: 200px;
  $color-rescheduled: #f88;
  $color-ongoing: #88f;
  $color-major: #0ff;
  a {
    color: darken($link-color, 15%);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:not([href]):not([ng-click]) {
      cursor: default;
      color: #111;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .schedule-table {
    border: 0;
    margin: 0;
  }
  .days,
  .flags {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
  }
  .flags {
    justify-content: space-between;
    a {
      margin: 0 14px;
      display: inline-block;

      &.active {
        font-weight: 800;
      }
    }
    font-size: 100%;
  }
  th.subtitle {
    padding: 18px;
    font-size: 18px;
    text-transform: uppercase;
  }
  .input-container {
    position: relative;
    input {
      padding-right: 18px;
    }
  }
  .clear {
    position: absolute;
    right: 5px;
    top: 0;
    line-height: 27px;
    cursor: pointer;
  }
  .day {
    &.past {
      display: none;
    }
  }
  .event {
    h4 {
      margin: 0;
      .anchor {
        visibility: hidden;
        color: #aaa;
      }
    }
    .description {
      margin-bottom: 0;
    }
    &:hover h4 .anchor {
      visibility: visible;
    }
    &.major td {
      border-left: 4px solid $color-major;
      font-weight: 400;
    }
    &.major h4 {
      font-weight: 800;
    }
    &.rescheduled td {
      border-left: 4px solid $color-rescheduled;
      background-color: lighten($color-rescheduled, 18%);
    }
    &.ongoing td {
      border-left: 4px solid $color-ongoing;
      background-color: lighten($color-ongoing, 18%);
      h4 {
        font-weight: 400;
      }
    }
    &.past td {
      opacity: .5;
    }
    &.selected td {
      transform: scale(1.03);
      box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, .4);
      background: #eee;
    }
  }
  .mobiletime,
  .mobileview {
    display: none;
  }
  @media screen and (max-width: 680px) {
    .tmptime,
    .no-mobile {
      display: none;
    }
    .mobiletime,
    .mobileview {
      display: inline;
    }
    .event h4 {
      font-size: initial;
      word-break: break-word;
      word-wrap: break-word;
    }
  }
}

@media screen and (max-width: 960px) {
  asm-schedule {
    .flags {
      justify-content: flex-start;
      -webkit-box-pack: start;
      -moz-box-pack: start;
      display: block;
      input {
        margin-top: 7px;
        margin-left: 14px;
      }
    }
  }
}

@media print {
  asm-schedule {
    a,
    a:link,
    a:visited {
      color: #000;
      text-decoration: none;
    }
    .event h4 {
      color: #000;
      font-size: 10pt;
      font-family: Georgia, "Times New Roman", Times, serif !important;
    }
    .event.major {
      font-weight: bold;
    }
    .schedule-table,
    table {
      th {
        background: #fff;
        color: #000;
        font-size: 10pt;
        font-weight: bold;
        page-break-after: avoid;
      }
      tr {
        border-bottom: 1px solid lightgray;
        page-break-inside: avoid;
      }
      td {
        page-break-inside: avoid;
      }
    }
  }
}