.aldryn-newsblog-article{
  img{
    float: left;
    margin-right: 20px;
  }
  h2{
    margin-bottom: 20px;
  }
  .content p{
    margin-bottom: 12px;
    line-height: 22px;
  }
  a{
    display: inline-block;
    padding-bottom: 20px;
  }
}
