article {
  p {
    font-weight: 400;
  }

  a {
    color: #4a9a16;
    text-decoration: underline;
  }

  ul {
    padding-left: 15px;
    display: block;
    margin-bottom: 24px;
  }

  li {
    margin: 5px 0;
    padding: 5px 0;
    list-style: square;
    list-style-position: inside;
    font-weight: 400;
    line-height: 1.4;

    // Inner lists don't need margin on the bottom, but more padding for clarity.
    ul {
      padding-left: 20px;
      margin: 0;
    }
  }

  hr {
    border-style: solid;
    border-top-width: 0;
    color: #888;
  }
}