.article {
  margin: 0 0 10px;
  position: relative;
  width: 57%;
  vertical-align: top;
  display: block;
  float: left;
  font-size: 14px;
  line-height: 1.4;
  min-height: 800px;

  @media print {
    width: 100%;
    font-size: 10pt;
    min-height: auto;
    text-align: justify;
    line-height: 150%;
  }

  .content {
    background: #fff;
    font-size: 16px;
    padding: 20px 25px 5px;
    font-weight: 400;

    @media print {
      font-size: 10pt;
      padding: 0;
    }

    p {
      margin-bottom: 24px;
    }

    a {
      text-decoration: underline;
      color: darken($link-color, 10%);

      @media print { color: #000; }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 24px 0;

    @media print {
      color: #000!important;
      text-transform: none;
      font-weight: normal !important;
    }
  }

  h2 {
    font-weight: 600;
  }

  h3, h4 {
    font-weight: 300;
  }

  h5 {
    font-weight: 800;
  }

  @media print {
    h1:before { content: "Assembly.org: "; }
    h1 { font-size: 20pt; }
    h2 { font-size: 16pt; }
    h3 { font-size: 14pt; }
    h4, h5, h6 { font-size: 12pt; }
  }

  ul, ol {
    margin-bottom: 24px;
    padding-left: 15px;
    display: block;
  }

  ol {
    padding-left: 32px;

    li { list-style: decimal outside; }
  }

  li {
    margin: 5px 0;
    padding: 5px 0;
    list-style: square inside;

    // Inner lists don't need margin on the bottom, but more padding for clarity.
    ul {
      padding-left: 20px;
      margin: 0;
    }
  }

  &.post {
    .header-image {
      @include aspect-ratio(3, 2);
      background-color: #bbb;
      max-height: 100%;
      width: 50%;
      float: left;
      margin-bottom: 20px;
      border: 0;
    }

    .content h2 {
      margin-top: 0;
      display: inline-block;
    }
  }

  .header-image {
    max-height: 250px;
    overflow: hidden;
    border: 3px solid #fff;

    img { width: 100%; }
  }

  .time {
    float: right;
  }

  .meta {
    float: right;
    width: 20%;

    .some-button {
      position: relative;
      margin-bottom: 3px;
      display: block;
      width: 100%;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 600;
      padding: 12px 8px;
      line-height: 20px;

      &.facebook { background: $bg-facebook; }
      &.twitter { background: $bg-twitter; }

      &:after {
        transition: background .2s;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      &:hover:after {
        background: rgba(255, 255, 255, .15);
      }

      .fa {
        margin-right: 6px;
        font-size: 24px;
      }
    }

    strong {
      display: inline-block;
      padding: 4px 6px;
      font-size: 16px;
    }
  }

  .breadcrumbs {
    font-size: 14px;
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      display: inline;
    }

    li:first-child a { display: none; }
  }

  hr { border-style: solid; }

  blockquote {
    background: #f9f9f9;
    border-left: 8px solid #ccc;
    margin: 1.5em 10px;
    padding: .5em 10px;
  }

  table {
    margin-bottom: 24px;
    width: 100%;
    font-size: 14px;
    border: 1px solid #eee;

    th {
      font-weight: 800;
      padding: 10px;
      background: $bg-color;
      color: #fff;
      text-align: center;

      @media print {
        color: #000;
        background: #fff;
        font-weight: bold;
      }
    }

    tbody th:first-child {
      text-align: right;
    }

    tbody th:last-child {
      text-align: left;
    }

    td {
      padding: 10px;
      transition: all .1s;
      border-right: 1px solid #eee;
    }

    td:last-child {
      border-right: 0;
    }

    tbody td:hover {
      transform: scale(1.01);
      box-shadow: rgba(0, 0, 0, .3) 0 0 10px;
      background: #f6f6f6;
    }
  }
}
