footer {

  background: darken($bg-color, 2%);
  color: #fff;
  padding: 50px 0;

  .footer-navigation {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    font-size: 14px;
    vertical-align: middle;
  }

  .navigation {
    text-align: center;
    line-height: 30px;
  }

  li {
    position: relative;
    display: inline-block;
    margin: 0 15px;

    &.selected > a, &.ancestor > a {
      opacity: 1;
      text-decoration: underline;
    }

    // Navigation link styling
    a {
      color: #fff;
      font-weight: 800;
      text-transform: uppercase;
      opacity: .8;
      transition: opacity .3s;

      &:hover {
        color: #fff;
        opacity: 1;
      }
    }
  }

  .organization {
    text-align: center;
    margin: 25px 0;

    .navigation a {
      margin: 0 30px;
      color: #fff;
      opacity: .8;
      font-size: 12px;
      font-style: italic;
      font-weight: 800;

      &:hover {
        text-decoration: underline;
      }
    }

    .copyright {
      margin: 35px 0;
    }
  }

  .site-switcher {
    transition: opacity .5s;
    opacity: .5;

    &:focus, &:hover {
      opacity: 1;
    }

    select {
      border: 1px solid rgba(245, 245, 245, 1);
      -moz-appearance: none;
      z-index: 100;
      -webkit-appearance: none;
      appearance: none;
      color: #141D40;
      background-image: url("../../images/triangle.png");
      background-position: 97% center;
      background-repeat: no-repeat;
      padding-right: 20px;
      background-size: 12px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      height: 22px;
    }
  }

  @media screen and (max-width: 768px) {
    .organization .navigation a {
      display: inline-block;
      margin: 15px 20px;
    }
  }
}