//article page version 

  #sponsors {
    padding: 0% 10%;
  ul.sponsors{
    background: transparent;
    li {
      float:none;
      background: transparent;
      width:100%;
    }
  }
  }
//front page version
.home, .etusivu { 
  .main-sponsors {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    background: $bg-color;
    text-align: center;

    .plugin_picture {
      display: inline-block;
      padding: 20px;
    }

    img {
      width: auto;
      max-height: 100px;
      max-width: 250px;
    }
  }
  #sponsors {
    padding: 0px;
    ul.sponsors li{
      float:left;
      width:initial;
    }
  }
}
