.news-header {
}

.news-container {
  margin: 0 0 10px;
  background: #fff;
  display: block;
  position: relative;
  overflow: hidden;
}

.news-article {
}

.news-article-featured {
}

.news-cover-image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  height: 180px;
  min-height: 180px;
}

.news-fullscreen {
  .news-content {
    h3 {
      margin-bottom: 15px;
      line-height: 27px;
    }
    p {
      margin-bottom: 22px;
      line-height: 22px;
    }
  }
  .news-detail-meta {
    padding: 20px 25px 30px;
    color: #111;
    font-size: 14px;
    img {
      margin-right: 15px;
    }
  }
}

.news-pager {
  margin: 15px;

  .pager {
    text-align: center;

    li {
      display: inline-block;
      height: 30px;
      padding: 5px 10px;

      *,
      *:active,
      *:visited {
        color: #56A3D7;
        font-size: 14px;
      }
    }

    li.previous {
      display: block;
      float: left;
    }

    li.next {
      display: block;
      float: right;
    }
  }
}

.news-related {
  color: white;
}

.news-content {
  border-right: 1px solid #eee;
  font-size: 16px;
  width: 100%;
  display: block;
  padding: 20px 25px 5px;
  font-weight: 400;
  line-height: 1.2em;

  p {
    padding: 0;
    overflow: hidden;
  }
}

.news-title {
  font-size: 18px;
  font-weight: 800 !important;
  margin-bottom: 10px;
  margin-top: 0;
  overflow: hidden;
  line-height: 1.3em;
}

.news-body {
}

.news-tags {
}

.news-categories {
}

.news-summary-meta {
  position: absolute;
  bottom: 0;
  padding: 10px;
  width: 100%;

  .news-meta-time {
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    color: #1f233b;
    width: 50%;
    padding: 10px;
    margin: 0;
  }

  a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    display: inline-block;
    width: 50%;
    background: #8aba56;
    border: 0;
    border-radius: 0;
    font-size: 12px;
    margin: 0;
    padding: 20px 10px;
    vertical-align: middle;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    float: right;
    text-decoration: none;
  }
}

.news-detail-meta {
}

.news-latest-articles {
  .news-content {
    height: 400px;
  }
}

.news-featured-articles,
.news-latest-articles {
  position: relative;
  overflow: hidden;
  margin-top: 60px;

  .news-article {
    @extend .news-container;
    width: 25%;
    height: 460px;
    max-height: 460px;
    float: left;
  }
}

.news-fullscreen {
  margin: 0 0 10px;
  position: relative;
  width: 80%;
  vertical-align: top;
  display: block;
  float: left;
  font-size: 14px;
  line-height: 1.4;
  min-height: 800px;

  .news-split-sidebar {
    width: 25%;
    float: left;
  }

  .news-split-content {
    width: 75%;
    float: left;
  }
}

.news-article-list {
}

.news-pagination {
  height: 53px;
  padding: 10px 15px;

  li {
    float: left;

    > a,
    > span {
      display: block;
      padding: 5px 10px;
      background: #141d40;
      color: #fff;
    }

    > a:active,
    > a:visited {
      color: #fff;
    }

    > a:hover {
      color: #56a3dd;
    }

    .active {
      background: #c0c0c0;
    }
  }
}

.news-sidebar-block {
  @extend .news-container;

  margin-right: 15px;

  > li {
    display: block;
  }

  .news-sidebar-title {
    display: block;
    padding: 5px 10px;
    background: #141d40;
    color: #fff;
  }

  .news-sidebar-items {
    list-style-type: none;
    margin: 0;
    padding: 5px 10px;

    li {
      a {
        display: block;
        color: #56a3dd;
        line-height: 29px;
      }
      .badge {
        float: right;
        padding: 0 8px;
        color: rgba(20, 29, 64, 0.51);
        border-radius: 4px;
        color: #fff;
        line-height: 25px;
        margin-top: 2px;
        margin-right: 2px;
      }
    }

    &:hover {
      background: rgba(20, 29, 64, 0.51);
      a {
        color: #fff;
      }
      .badge {
        background: #fff;
        color: #56a3dd;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .news-content {
    border-right: 0;
  }

  .news-fullscreen {
    margin: 0 5%;
    width: 90% !important;
  }

  .news-article-featured,
  .news-latest-articles {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    .news-article {
      width: 49%;
      height: 500px;
      max-height: 500px;
    }
  }
}

@media screen and (max-width: 768px) {
  .news-featured-articles .news-article,
  .news-latest-articles .news-article {
    height: 460px;
    max-height: 460px;
  }
}

@media screen and (max-width: 500px) {
  .news-featured-articles .news-article,
  .news-latest-articles .news-article {
    height: 500px;
    max-height: 500px;
    width: 100%;
  }
}
