.quick-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;

  a {
    @extend .btn;
    @extend .btn-1e;

    flex-basis: 18%;
    width: 225px;
    height: 60px;
    line-height: 55px;
    padding: 0 20px;
  }

  @media screen and (max-width: 960px) {
    justify-content: space-around;

    a {
      flex-basis: 48%;
      margin-top: 20px;
    }

    a:first-child {
      flex-basis: 98%;
    }
  }

  @media screen and (max-width: 500px) {
    a {
      flex-basis: 100%;
    }
  }
}