.quick-links {
  display: flex;
  justify-content: space-between;
  text-align: center;

  a {
    @extend .btn;
    @extend .btn-1e;

    width: 225px;
    height: 75px;
    line-height: 70px;
    padding: 0 20px;
    margin: 0 20px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}