// Refactor into header!

.home, .etusivu {
  .logocontainer {
    display: none;
  }

  .top-bar {
    .side-content {
      padding: 0;
    }

    .navigation {
      //margin-left: 200px;
      padding-top: 0;
    }

    .tools {
      padding-top: 20px;
    }

    .fader {
      background: -moz-linear-gradient(top, $bg-color 30%, transparent 100%); // FF3.6+
      background: -webkit-linear-gradient(top, $bg-color 30%, transparent 100%); // Chrome10+,Safari5.1+
      background: -o-linear-gradient(top, $bg-color 30%, transparent 100%); // Opera 11.10+
      background: -ms-linear-gradient(top, $bg-color 30%, transparent 100%); // IE10+
      background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, $bg-color), color-stop(100%, transparent)); // Chrome,Safari4+
      background: linear-gradient(to bottom, $bg-color 30%, transparent 100%); // W3C
    }

    @media screen and (max-width: 960px) {
      .tools {
        margin: 0;
        padding: 20px 0 0 32px;
        float: left;
        width: 100%;
      }
    }

    @media screen and (max-width: 540px) {
      .header-navigation {
        padding: 20px 0 0;
        top: 0;
        left: 0;
        position: relative;
        width: 100%;

        .navigation {
          padding: 0;
        }
      }

      .tools {
        padding: 20px 0 0;
      }
    }

  }
}

.top-bar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 101;

  &.scrolled {
    position: fixed;
    top: 0;
    height: auto;
    background: rgba(0, 0, 0, .75);
    z-index: 999;
    padding: 10px 0;
  }

  .fader {
    height: 120px;
    z-index: -1;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    background: -moz-linear-gradient(top, rgba(20, 29, 64, 1) 55%, rgba(0, 0, 0, 0) 100%); // FF3.6+
    background: -webkit-linear-gradient(top, rgba(20, 29, 64, 1) 55%, rgba(0, 0, 0, 0) 100%); // Chrome10+,Safari5.1+
    background: -o-linear-gradient(top, rgba(20, 29, 64, 1) 55%, rgba(0, 0, 0, 0) 100%); // Opera 11.10+
    background: -ms-linear-gradient(top, rgba(20, 29, 64, 1) 55%, rgba(0, 0, 0, 0) 100%); // IE10+
    background: linear-gradient(to bottom, rgba(20, 29, 64, 1) 55%, rgba(0, 0, 0, 0) 100%); // W3C
    background: -webkit-gradient(linear, left top, left bottom, color-stop(55%, rgba(20, 29, 64, 1)), color-stop(100%, rgba(0, 0, 0, 0))); // Chrome,Safari4+
  }

  .logocontainer {
    float: left;
    width: 200px;
    padding-top: 20px;

    img {
      width: 200px;
      margin-bottom: 8px;
    }

    .date-location {
      text-align: center;
      color: #fff;
      font-weight: 600;
      font-family: 'Open Sans';
      font-size: 10px;
    }
  }

  .side-content {
    padding-top: 20px;
    padding-left: 200px;
  }

  .header-navigation {
    float: left;
    padding: 20px 20px 0 10px;
    display: block;
    box-sizing: border-box;
    font-size: 14px;
    vertical-align: middle;
  }

  .navigation {
    //padding-top: 20px;
    padding-left: 20px;
    float: left;

    // Main level navigation
    > .child {
      position: relative;
      display: inline-block;
      margin: 0 15px;
      line-height: 20px;

      // Sub level navigation
      ul {
        background-color: $bg-color;
        transition: padding .2s, opacity .2s, box-shadow .25s;
        border-radius: 0 0 5px 5px;
        padding: 0 10px 10px;
        position: absolute;
        width: 190px;
        z-index: 100;
        opacity: 0;
        left: 0;
        pointer-events: none;
      }

      .child {
        transition: padding .2s;
        text-align: left;
        padding: 0 8px;

        a {
          text-transform: none;
          font-weight: 400;
          letter-spacing:1px;
        }
      }

      // Show sub level if hovering main level or sub level.
      &:hover > ul, ul:hover {
        pointer-events: all;
        opacity: 1;
        padding-top: 20px;
        box-shadow: rgba($bg-color, .7) -4px 10px 30px, rgba($bg-color, .7) 4px 10px 30px;

        li {
          padding: 8px;

          &:last-of-type {
            padding-bottom: 8px;
          }
        }
      }
    }

  }

  // Navigation link styling
  .child {
    &.selected > a, &.ancestor > a {
      opacity: 1;
      text-decoration: underline;
    }

    a {
      color: #fff;
      font-weight: 800;
      text-transform: uppercase;
      opacity: .8;
      transition: opacity .3s;
    }

    a:hover {
      opacity: 1;
    }
  }

  .tools {
    float: right;
    padding-right: 30px;
    padding-top: 18px;
  }

  .search {
    width: 145px;
    color: #000;
  }

  @media screen and (max-width: 1400px) {
    .fader {
      height: 175px;
      background: -moz-linear-gradient(top, $bg-color 65%, transparent 100%); // FF3.6+
      background: -webkit-linear-gradient(top, $bg-color 65%, transparent 100%); // Chrome10+,Safari5.1+
      background: -o-linear-gradient(top, $bg-color 65%, transparent 100%); // Opera 11.10+
      background: -ms-linear-gradient(top, $bg-color 65%, transparent 100%); // IE10+
      background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, $bg-color), color-stop(100%, transparent)); // Chrome,Safari4+
      background: linear-gradient(to bottom, $bg-color 65%, transparent 100%); // W3C
    }

    .tools {
      padding-top: 20px;
      float: left;
      padding-left: 32px;
    }

    .logocontainer {
      padding-top: 35px;
    }

  }

  @media screen and (max-width: 960px) {
    .logocontainer {
      width: 100px;

      img {
        width: 100px;
      }
    }

    .side-content {
      padding-left: 100px;
    }

    .header-navigation {
      width: 100%;
    }

    .navigation {
      text-align: center;
    }

    .tools {
      width: 400px;
      margin: 50px auto 0;
      float: none;
      padding: 20px 0 0;
    }

    .fader {
      height: 200px;
    }

    .navigation > .child ul {
      display: none;
    }

  }

  @media screen and (max-width: 540px) {
    .side-content {
      padding: 0;
    }

    .header-navigation {
      padding: 20px 0 0;
      position: absolute;
      left: 110px;
      top: 20px;
      width: 70%;
    }

    .tools {
      float: left;
      padding: 10px;
      width: 100%;
      margin-top: 20px;
    }

    .site-switcher select {
      width: 150px;
    }
  }
}
  .language {
    float: left;
    padding: 3px 10px;
    display: block;
    box-sizing: border-box;
    vertical-align: middle;
    white-space: nowrap;

    .lang {
      display: inline-block;
      margin-right: 8px;
    }

    .active {
      border-radius: 50%;
      box-shadow: 0 0 12px #adf;
	  height: 16px;
    }

    a {
      color: transparent;
      display: inline-block;
      width: 16px;
      height: 16px;
      background-position: center no-repeat;
      background-size: 100%;
    }

    [href^="?lang=fi"] {
      background-image: url("../../images/finnish.png");
    }

    [href^="?lang=en"] {
      background-image: url("../../images/english.png");
    }
  }
