// Refactor into header!

.home, .etusivu {
  .logocontainer {
    display: none;
  }

  .top-bar {
    .navigation {
      margin-left: 200px;
      padding-top: 0;
    }

    .language, .search {
      padding: 20px 10px;
    }

    .fader {
      background: -moz-linear-gradient(top, $bg-color 30%, transparent 100%); // FF3.6+
      background: -webkit-linear-gradient(top, $bg-color 30%, transparent 100%); // Chrome10+,Safari5.1+
      background: -o-linear-gradient(top, $bg-color 30%, transparent 100%); // Opera 11.10+
      background: -ms-linear-gradient(top, $bg-color 30%, transparent 100%); // IE10+
      background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, $bg-color), color-stop(100%, transparent)); // Chrome,Safari4+
      background: linear-gradient(to bottom, $bg-color 30%, transparent 100%); // W3C
    }

    @media screen and (max-width: 960px) {
      .navigation {
        position: absolute;
        top: 68px;
        margin-left: 0;
      }

      .search { top: 0; }

      .fader {
        height: 145px;
        background: -moz-linear-gradient(top, $bg-color 60%, transparent 100%); // FF3.6+
        background: -webkit-linear-gradient(top, $bg-color 60%, transparent 100%); // Chrome10+,Safari5.1+
        background: -o-linear-gradient(top, $bg-color 60%, transparent 100%); // Opera 11.10+
        background: -ms-linear-gradient(top, $bg-color 60%, transparent 100%); // IE10+
        background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, $bg-color), color-stop(100%, transparent)); // Chrome,Safari4+
        background: linear-gradient(to bottom, $bg-color 60%, transparent 100%); // W3C
      }
    }
  }
}

.top-bar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 101;

  &.scrolled {
    position: fixed;
    top: 0;
    height: auto;
    background: rgba(0, 0, 0, .75);
    z-index: 999;
    padding: 10px 0;
  }
  .site-switcher{
    select{
    background-color: rgba(245, 245, 245, 0.8);
    border: 1px solid rgba(245, 245, 245, 0.8);
    -moz-appearance: none;
    z-index: 100;
    -webkit-appearance: none;
    appearance: none;
    color: #141D40;
    background-image: url("../../images/triangle.png");
    background-position: 97% center;
    background-repeat: no-repeat;
    padding-right: 20px;
    background-size: 12px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  float: right;
  margin-top: 13px;
  @media screen and (max-width: 1100px) {
    margin-top: -48px;
  }
  @media screen and (max-width: 692px) {
    margin-top: -88px;
  }
  }
  .fader {
    height: 120px;
    z-index: -1;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    background: -moz-linear-gradient(top, rgba(20, 29, 64, 1) 55%, rgba(0, 0, 0, 0) 100%); // FF3.6+
    background: -webkit-linear-gradient(top, rgba(20, 29, 64, 1) 55%, rgba(0, 0, 0, 0) 100%); // Chrome10+,Safari5.1+
    background: -o-linear-gradient(top, rgba(20, 29, 64, 1) 55%, rgba(0, 0, 0, 0) 100%); // Opera 11.10+
    background: -ms-linear-gradient(top, rgba(20, 29, 64, 1) 55%, rgba(0, 0, 0, 0) 100%); // IE10+
    background: linear-gradient(to bottom, rgba(20, 29, 64, 1) 55%, rgba(0, 0, 0, 0) 100%); // W3C
    background: -webkit-gradient(linear, left top, left bottom, color-stop(55%, rgba(20, 29, 64, 1)), color-stop(100%, rgba(0, 0, 0, 0))); // Chrome,Safari4+
  }

  .logocontainer {
    float: left;
    width: 200px;
    padding-bottom: 20px;

    img {
      width: 200px;
      margin-bottom: 8px;
    }

    .date-location {
      text-align: center;
      color: #fff;
      font-weight: 600;
      font-family: 'Open Sans';
      /* font-style: italic; */
      font-size: 10px;
      /* text-transform: uppercase; */
    }
  }

  .header-navigation {
    float:left;
    padding: 20px 10px 0;
    display: inline-block;
    box-sizing: border-box;
    width: 73%;
    font-size: 14px;
    vertical-align: middle;
  }

  .navigation {
    padding-top: 25px;
    padding-left: 20px;

    // Main level navigation
    > .child {
      position: relative;
      display: inline-block;
      margin: 0 15px;

      // Sub level navigation
      ul {
        background-color: $bg-color;
        transition: padding .2s, opacity .2s, box-shadow .25s;
        border-radius: 0 0 5px 5px;
        padding: 0 10px 10px;
        position: absolute;
        width: 190px;
        z-index: 100;
        opacity: 0;
        left: 0;
        pointer-events: none;
      }

      .child {
        transition: padding .2s;
        text-align: left;
        padding: 0 8px;

        a {
          text-transform: none;
          font-weight: 400;
					letter-spacing:1px;
        }
      }

      // Show sub level if hovering main level or sub level.
      &:hover > ul, ul:hover {
        pointer-events: all;
        opacity: 1;
        padding-top: 20px;
        box-shadow: rgba($bg-color, .7) -4px 10px 30px, rgba($bg-color, .7) 4px 10px 30px;

        li {
          padding: 8px;

          &:last-of-type {
            padding-bottom: 8px;
          }
        }
      }
    }

  }

  // Navigation link styling
  .child {
    &.selected > a, &.ancestor > a {
      opacity: 1;
      text-decoration: underline;
    }

    a {
      color: #fff;
      font-weight: 800;
      text-transform: uppercase;
      opacity: .8;
      transition: opacity .3s;
    }

    a:hover {
      opacity: 1;
    }
  }

  .language {
    float: left;
    padding: 45px 10px 0;
    display: inline-block;
    box-sizing: border-box;
    width: 10%;
    vertical-align: middle;
    white-space: nowrap;

    .lang {
      display: inline-block;
      margin-right: 8px;
    }

    .active {
      border-radius: 50%;
      box-shadow: 0 0 12px #adf;
    }

    a {
      color: transparent;
      display: inline-block;
      width: 16px;
      height: 16px;
      background-position: center no-repeat;
      background-size: 100%;
    }

    [href^="?lang=fi"] {
      background-image: url("../../images/finnish.png");
    }

    [href^="?lang=en"] {
      background-image: url("../../images/english.png");
    }
  }

  .search { width: 140px; }

  @media screen and (max-width: 960px) {
    .navigation {
      position: absolute;
      top: 90px;
      margin-left: 100px;
    }

    .search {
      position: absolute;
      top: 69px;
    }

    .navigation > .child ul {
      display: none;
    }

    .fader {
      height: 200px;
      background: -moz-linear-gradient(top, $bg-color 65%, transparent 100%); // FF3.6+
      background: -webkit-linear-gradient(top, $bg-color 65%, transparent 100%); // Chrome10+,Safari5.1+
      background: -o-linear-gradient(top, $bg-color 65%, transparent 100%); // Opera 11.10+
      background: -ms-linear-gradient(top, $bg-color 65%, transparent 100%); // IE10+
      background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, $bg-color), color-stop(100%, transparent)); // Chrome,Safari4+
      background: linear-gradient(to bottom, $bg-color 65%, transparent 100%); // W3C
    }
  }

  // @media screen and (max-width: 768px) {
  //   .logocontainer { display: none; }
  //   .search { top: 0px; }
  //   .navigation { margin-left: 0; }
  // }
}
