// html,
// body,
// .container,
// .content-wrap {
//     overflow: hidden;
//     width: 100%;
//     height: 100%;
// }

// .menu-wrap {
//     margin-top: 25px;
// }

// .menu-wrap a {
//     color: #FFF;
//     font-weight: 800;
//     font-family: 'Open Sans';
// }

// .menu-wrap a:hover,
// .menu-wrap a:focus {
//     color: #c7deae;
// }

// .content-wrap {
//     overflow-y: scroll;
//     -webkit-overflow-scrolling: touch;
//     -webkit-transition: -webkit-transform 0.3s;
//     transition: transform 0.3s;
// }

// .content {
//     position: relative;
//     background: #b4bad2;
// }

// .content::before {
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: 10;
//     width: 100%;
//     height: 100%;
//     background: rgba(0,0,0,0.3);
//     content: '';
//     opacity: 0;
//     -webkit-transform: translate3d(100%,0,0);
//     transform: translate3d(100%,0,0);
//     -webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
//     transition: opacity 0.3s, transform 0s 0.3s;
// }

/* Menu Button */
// .menu-button {
//     z-index: 1000;
//     padding: 0;
//     height: 48px;
//     padding-left: 50px;
//     border: none;
//     text-transform: uppercase;
//     font-size: 18px;
//     font-family: 'Open Sans';
//     font-weight: 800;
//     color: #fff;
//     background: transparent;
//     -webkit-transition: -webkit-transform 0.3s;
//     transition: transform 0.3s;
//     position: relative;
// }
// #open-button::before {
//     background: url(../images/i-open_menu.png) no-repeat;
//     position: absolute;
//     top: 0.5em;
//     right: 0.5em;
//     bottom: 0.5em;
//     left: 0.5em;
//     content: '';
// }
// #close-button {
//     position: fixed;
//     margin: 1em;
// }
// #close-button::before {
//     background: url(../images/i-close_menu.png) no-repeat;

// }
// .menu-button::before {
//     position: absolute;
//     top: 0.5em;
//     right: 0.5em;
//     bottom: 0.5em;
//     left: 0.5em;
//     content: '';
// }

// .menu-button:hover {
//     opacity: 0.6;
// }
// /* Menu */
// .menu-wrap {
//     position: absolute;
//     font-weight: 700;
//     opacity: 0;
//     -webkit-transition: opacity 1s;
//     transition: opacity 1s;
// }

// .menu-top {
//     line-height: 58px;
// }

// .menu-top .profile {
//     display: inline-block;
//     padding: 8px 10px;
//     line-height: 42px;
// }

// .menu-top .profile,
// .menu-side {
//     width: 300px;
// }

// .menu-top .profile img {
//     float: left;
//     margin-right: 1em;
// }

// .icon-list {
//     display: inline-block;
//     font-size: 1.25em;
// }

// .icon-list a {
//     margin: 0 1em 0 0;
//     padding: 0;
// }

// @media screen and (max-width: 32em) {
//     .icon-list {
//         padding-left: 1em;
//     }
// }

// /* Shown menu */
// .show-menu .menu-wrap {
//     opacity: 1;
// }

// .show-menu .content-wrap,
// .show-menu #close-button {
//     -webkit-transform: translate3d(300px, 0,0);
//     transform: translate3d(300px,0,0);
// }

// .show-menu #open-button {
//     opacity: 0.5;
//     filter:alpha(opacity=50);
// }

// .show-menu .content::before {
//     opacity: 1;
//     -webkit-transition: opacity 0.3s;
//     transition: opacity 0.3s;
//     -webkit-transform: translate3d(0,0,0);
//     transform: translate3d(0,0,0);

// }

// .menu-side a {
//     display: block;
//     padding: 1.2em;
// }
// .menu-side ul li:nth-child(even) a {
//     background: rgba(255,255,255,0.05);
// }
// .menu-side ul li .fa {
//   padding-right: 15px;
// }
// .menu-side ul li.expanded .fa {
//     transition: all 0.3s;
// }
// .menu-side ul li.expanded.open .fa {
//     -webkit-transform: rotate(90deg);
//     -moz-transform: rotate(90deg);
//     -o-transform: rotate(90deg);
//     -ms-transform: rotate(90deg);
//     transform: rotate(90deg);
// }
// .menu-side ul ul {
//     display: none;
// }
// .menu-side ul li.expanded ul li {
//     padding-left: 25px;
//     display: block;
// }
// .menu-side ul li.expanded ul li a {
//     font-size: 14px;
//     font-weight: 300;
//     padding: 15px 0;
//     display: block;
//     background: none;
// }
// .menu-side ul li.expanded ul li a:before {
//     content: "";
// }


/*START  SLICKNAV STYLES*/
/*!
 * SlickNav Responsive Mobile Menu v1.0.7
 * (c) 2016 Josh Cope
 * licensed under MIT
 */
.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer; }
  .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 0.188em; }

.slicknav_menu {
  *zoom: 1; }
  .slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left; }
  .slicknav_menu .slicknav_icon {
    float: right;
    width: 1.125em;
    height: 0.875em;
    margin: 0.188em 0 0 0.438em; }
    .slicknav_menu .slicknav_icon:before {
      background: transparent;
      width: 1.125em;
      height: 0.875em;
      display: block;
      content: "";
      position: absolute; }
  .slicknav_menu .slicknav_no-text {
    margin: 0; }
  .slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: 0.125em;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
  .slicknav_menu:before {
    content: " ";
    display: table; }
  .slicknav_menu:after {
    content: " ";
    display: table;
    clear: both; }

.slicknav_nav {
  clear: both; }
  .slicknav_nav ul {
    display: block; }
  .slicknav_nav li {
    display: block; }
  .slicknav_nav .slicknav_arrow {
    font-size: 0.8em;
    margin: 0 0 0 0.4em; }
  .slicknav_nav .slicknav_item {
    cursor: pointer; }
    .slicknav_nav .slicknav_item a {
      display: inline; }
  .slicknav_nav .slicknav_row {
    display: block; }
  .slicknav_nav a {
    display: block; }
  .slicknav_nav .slicknav_parent-link a {
    display: inline; }

.slicknav_brand {
  float: left; }



.slicknav_menu {
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
  padding: 5px; 
  background-color: #141d40;
  padding-top: 15px; }
  .slicknav_menu * {
    box-sizing: border-box; }
  .slicknav_menu .slicknav_menutxt {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 3px #000; }
  .slicknav_menu .slicknav_icon-bar {
    background-color: #fff; }
.slicknav_menutxt{
display: none!important;}
.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: 0px;}

.slicknav_nav {
  background-color: #141d40;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 0.875em;
  list-style: none;
  overflow: hidden; }
  .slicknav_nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0 0 0 20px; }
  .slicknav_nav .slicknav_row {
    padding: 5px 10px;
    margin: 2px 5px; }
    .slicknav_nav .slicknav_row:hover {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      background: #ccc;
      color: #fff; }
  .slicknav_nav a {
    padding: 5px 10px;
    margin: 2px 5px;
    text-decoration: none;
    color: #fff; }
    .slicknav_nav a:hover {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      background: #ccc;
      color: #222; }
  .slicknav_nav .slicknav_txtnode {
    margin-left: 15px; }
  .slicknav_nav .slicknav_item a {
    padding: 0;
    margin: 0; }
  .slicknav_nav .slicknav_parent-link a {
    padding: 0;
    margin: 0; }

.slicknav_brand {
  line-height: 30px;
  max-height: 100%; 
  }
.slicknav_brand img{
  max-height: 100%;
  max-width: 100%;
}
  .slicknav_menu {
	display:none;
}

@media screen and (max-width: 780px) {
	/* #menu is the original menu */
	.header-navigation, .tools, #content_links, .logocontainer{
		display:none!important;
	}
	
	.slicknav_menu, .slicknav_menu .tools {
		display:block!important;
	}
	li.ancestor ul{
		display: block!important;
	}
	#top{
	  min-height: 25px!important;	
	}
	.top-bar .fader{
	  height: 80px!important;
	}
	.slicknav_menu .tools, .slicknav_menu .slicknav_btn{
		float: left;
		width: 30%!important;
		margin: 0px!important;
	}
	.slicknav_menu .slicknav_btn{
	  display: block;
      height: 55px;
      position: relative;
	}
	 .slicknav_menu .slicknav_brand{
	  float: left;
	  width: 40%!important;
	 }
	 .slicknav_menu .slicknav_icon{
		float: right;
		height: 100%;
		margin: 0.188em 0 0 0.438em;
		display: block;
		overflow: hidden;
		width: 50%;
	 }
	 .slicknav_menu .slicknav_icon-bar{
	     display: block;
    width: 83%;
    height: 10%;
    border-radius: 1px;
    margin-bottom: 12%;}
	.page .backgroundimage{
		top: -60px;
	}
}
.top-bar ul.mobile_navigation{
	display: none;
}