/* GLOBALS */

html, body {
  height: 100%;
}

body {
  background: $bg-color;
  color: #111;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans', Arial, Verdana, Tahoma !important;

  @media print {
    background: #fff;
    color: #000;
    font-size: 10pt;
    line-height: 150%;
    font-family: Georgia, "Times New Roman", Times, serif!important;
  }
}

// Hide cms placeholders, they scew up the layout in edit mode.
.cms_placeholder {
  display: none;
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.content img {
  max-width:100%;
	height: auto!important;
}
a {
  color: $link-color;
  text-decoration: none;
  transition: color .3s;
  cursor:pointer;
}

a:hover {
  color: darken($link-color, 2%);
  text-decoration: none;
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid $bg-color;
  margin: 1em 0; padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', Arial, Verdana, Tahoma;
  font-weight: 800;
}

h1 {
  font-size: 48px;
  color:$bg-color;
}

h2 {
  font-size: 36px;
  color:$bg-color;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

cite {
  margin-bottom: 24px;
  font-style: italic;
  padding-left: 45px;
  font-size: 18px;
  display: inline-block;
}

cite:before {
  content: "\f10d";
  position: relative;
  left: -45px;
  margin-right: -24px;
  font-family: 'fontawesome';
  font-size: 24px;
  display: inline-block;
}

/* HEADER */

#demo-canvas {
  position: absolute;
  bottom: 0;
  max-width: 100% !important;
}

.logo img {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}

// MENU

//#open_menu {
//  width: 25%;
//  display: inline-block;
//  padding: 20px;
//  vertical-align: middle;
//  font-size: 18px;
//  cursor: pointer;
//}
//
//#open_menu span {
//  color: #FFF;
//  font-weight: 800;
//  background: url(../../../images/i-open_menu.png) left no-repeat;
//  padding-left: 60px;
//  opacity: 0.8;
//  filter: alpha(opacity=80);
//  transition: all 0.3s;
//}
//
//#open_menu span:hover {
//  opacity: 1.0;
//  filter: alpha(opacity=100);
//}

/* CAROUSEL */

#top {
  position: relative;
  color: #fff;
  min-height: 120px;
}

#carousel {
  width: 100%;
  height: auto;
  min-height: 700px;
  // TODO event spef front bg
  background-image: url("/media/uploads/front_bg");
  backgound-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.summer15 #carousel {
  background-image: url("/static/images/summer15/front_bg.png");
}

.winter16 #carousel {
  background-image: url("/static/images/winter16/front_bg.jpg");
}

.summer16 #carousel {
  background-image: url("/static/images/summer16/front_bg.png");
}

#carousel .fader {
  height: 317px;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(20, 29, 64, 1) 90%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(90%, rgba(20, 29, 64, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(20, 29, 64, 1) 90%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(20, 29, 64, 1) 90%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(20, 29, 64, 1) 90%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(20, 29, 64, 1) 90%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#111111', GradientType=0); /* IE6-9 */
  z-index: 99;
  position: absolute;
  bottom: 0;
}

.carousel_meta {
  margin: 0 auto;
  position: absolute;
  bottom: 20px;
  z-index: 100;
  width: 100%;
  text-align: center;
}

.carousel_meta h3 {
  font-weight: 300;
  font-size: 32px;
  text-transform: uppercase;
}

.carousel_meta .carousel_read_more {
  color: #FFF;
  display: block;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 25px;
  transition: transform .2s;
}

.carousel_meta .carousel_read_more:hover {
  transform: translateY(5px);
}

.carousel_meta .carousel_read_more:after {
  content: "\25BE";
  display: block;
}

/* PAGE LINKS */

#content_links {
  width: 23%;
  margin-bottom: 50px;
  font-size: 14px;
  margin: 0;
  display: block;
  float: left;

  ul {
    text-align: center;
  }

  > ul > li {
    background-color: $bg-color;
    background-color: rgba($bg-color, .7);
  }

  li {
    margin: 0 auto 8px;
    width: 80%;

    a {
      z-index: 100;
    }

    ul {
      padding-top: 12px;
    }
  }

  .btn {
    padding: 14px 40px;
  }

  .btn-1e, #content_links .selected, #content_links .ancestor {
    display: inline-block;
  }

  ul li ul li .btn { // uliuliuliuli
    padding: 0;
    background-color: transparent;
    border: none;
    text-align: left;
    transition: none;
    overflow: visible;

    &:after {
      display: none;
    }
  }

  .navigation {
    > .child > ul {
      display: none;
    }

    .ancestor > ul, .selected > ul {
      display: block;
    }

    .child.selected > a {
      text-decoration: underline;
    }

    > li > ul {
      background-color: $bg-color;
      background-color: rgba($bg-color, .7);
      padding-bottom: 4px;
      margin-top: -2px;
      border-radius: 0 0 6px 6px;
    }
  }

}

/* NEWS */

#content {
  margin-bottom: 50px;
}

.news_archive {
  color: #FFF;
  display: block;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  margin: 35px 0;
}

.news_archive:hover {
  color: #aaa;
}

.news_archive:after {
  content: "\25BE";
  display: block;
  color: #fff;
}

.page {
  position: relative;
  margin-top: 30px;
}

.page .backgroundimage {
  z-index: -20;
  position: absolute;
  top: -85px;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('/media/uploads/article_bg');
  background-size: cover;
}

/* Event specific backgrounds */

.summer15 .page .backgroundimage {
  background-image: url("/static/images/summer15/article_bg.png");
}

.winter16 .page .backgroundimage {
  background-image: url("/static/images/winter16/article_bg.jpg");
}

.summer16 .page .backgroundimage {
  background-image: url("/static/images/summer16/article_bg.png");
}

.page .backgroundfade {
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(20,29,64,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(20,29,64,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(20,29,64,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(20,29,64,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(20,29,64,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(20,29,64,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#141d40',GradientType=0 );
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:300px;
}

.page #content {
  font-size: 0;
}

.page .blog-post .post-meta .time {
  width: 100%;
  font-weight: 300;
  font-size: 18px;
}

.page .blog-post .text_content {
  border-right: 0;
}

.page .blog-post .article_right button#twitter_share {
  background: $bg-twitter;
}

.page .blog-post .article_right button#facebook_share {
  background: $bg-facebook;
}

.page .blog-post .article_right button i.fa {
  font-size: 20px;
  padding-right: 15px;
}

.page .blog-post .article_right button:hover {
  min-width: 80%;
}

/* FRONTPAGE SOME */

.blog-post-list {
  position: relative;
  overflow: hidden;
  margin-top: 60px;
}

.some-wrap {
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}

@media screen and (max-width: 1500px) {
  .wrapper {
    padding: 0 2.5%;
  }
}

@media screen and (max-width: 960px) {
  .blog-post-list, .some-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .article {
    margin: 0 5%;
    width: 90% !important;
  }

  #content_links {
    margin: 50px 10% 0 10%;
    display: block;
    width: 80%;
  }

//   #demo-canvas {
//     display: none;
//   }
//   .btn {
//     min-width: 50px;
//     padding: 15px 30px;
//   }
//   #content_links ul li a.btn{
//     margin: 10px;
//   }
//   .blog-post {
//     width: 50%;
//   }
//   .twitter_post, .facebook_post {
//     width: 50%;
//   }
//   img {
//     max-width: 100%;
//     height: auto !important;
//   }
//   #top .menu-button {
//     font-size: 14px;
//   }
//   .menu-wrap {
//     position: relative !important;
//     top: 0;
//     left: 0;
//     width: 100%;
//     display: none;
//     margin-top: 0;
//   }
//   #close-button {
//     position: relative !important;
//     top: 0;
//     left: 0;
//     font-size: 14px !important;
//     -webkit-transform: translate3d(0, 0, 0) !important;
//     transform: translate3d(0, 0, 0) !important;
//     margin: 0;
//   }
//   .show-menu .content-wrap, .show-menu #close-button {
//     -webkit-transform: translate3d(0, 0, 0) !important;
//     transform: translate3d(0, 0, 0) !important;
//   }
//   .menu-top .profile, .menu-side {
//     width: 100%;
//   }
//   .menu-side ul li a {
//     width: 100%;
//     text-align: center;
//   }
//   .menu-side ul ul {
//     display: block;
//   }
//   html, body, .container, .content-wrap {
//     overflow: visible;
//   }
//   table {
//     display: block;
//     overflow-x: scroll;
//   }

//}

//@media screen and (max-width: 768px) {
//   .page .blog-post .article_left, .page .blog-post .article_right {
//     display: block;
//     width: 100%;
//   }
//   .page .blog-post .article_right {
//     text-align: left;
//   }
//   .page .blog-post .article_right button {
//     font-size: 12px;
//   }
//   #bottom .navigation li {
//     display: block;
//     text-align: center;
//     margin: 10px 0;
//   }
//   #bottom .navigation li a {
//     font-size: 12px;
//     display: block;
//     padding: 5px;
//   }
//   .blog-post .post-image img {
//     width: 100%;
//   }
//   #open_menu {
//     display: block;
//     width: 100%;
//   }
//   #header_links {
//     width: 70%;
//   }
//   #event_info {
//     top: 160px;
//   }
//   #header_links ul {
//     text-align: left;
//   }
//   #language {
//     width: 30%;
//   }
//   #language ul {
//     text-align: right;
//   }
//   .event_schedule_location .event_time {
//     font-size: 28px;
//   }
//   .event_schedule_location .event_location {
//     font-size: 18px;
//   }
}

// @media screen and (max-width: 560px) {
//   #header_links,
//   #language {
//     display: block;
//     width: 100%;
//     padding: 5px;
//   }
//   #language ul, #header_links ul {
//     text-align: center;
//   }
//   #event_info {
//     top: 200px;
//   }
//   h1 {
//     font-size: 22px;
//   }
//   h2 {
//     font-size: 18px;
//   }
//   h3 {
//     font-size: 14px;
//   }
//   .carousel_meta h3 {
//     font-size: 22px;
//   }
//   body, p, .btn, .blog-post .post-meta .time, .blog-post .post-meta a{
//     font-size: 12px;
//   }
//   .blog-post .post-meta a {
//     padding: 10px;
//   }
//   .blog-post .post-content h3 {
//     font-size: 14px;
//   }
//   .blog-post {
//     width: 100%;
//   }
//   .twitter_post, .facebook_post {
//     width: 100%;
//   }
//   #close-button, #open-button {
//     font-size: 12px;
//   }
//}
@media screen and (max-width: 780px) {
  .article {
    margin: 0 2%!important;
    width: 96% !important;
    }
  }